<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            appearsBefore="org.talend.repository.viewer.root.contexts"
            contentProvider="org.talend.repository.view.esb.viewer.content.RoutesContentProvider"
            icon="icons/routes.png"
            id="org.talend.repository.viewer.esb.routes"
            labelProvider="org.talend.repository.viewer.label.RepositoryViewLabelProvider"
            name="Routes"
            priority="high">
         <triggerPoints>
            <or>
               <adapt
                     type="org.talend.repository.model.ProjectRepositoryNode">
               </adapt>
               <instanceof
                     value="org.talend.repository.model.ProjectRepositoryNode">
               </instanceof>
            </or>
         </triggerPoints>
         <possibleChildren>
            <instanceof
                  value="org.talend.repository.model.RepositoryNode">
            </instanceof>
         </possibleChildren>
         <actionProvider
               class="org.talend.repository.view.esb.viewer.action.ESBRepositoryNodeActionProvider">
            <enablement>
               <and>
                  <instanceof
                        value="org.talend.repository.model.RepositoryNode">
                  </instanceof>
                  <test
                        forcePluginActivation="true"
                        property="org.talend.repository.node.isRoutesTopNode">
                  </test>
                  <not>
                     <test
                           forcePluginActivation="true"
                           property="org.talend.repository.node.isDeleted">
                     </test>
                  </not>
               </and>
            </enablement>
         </actionProvider>
      </navigatorContent>
      <navigatorContent
            activeByDefault="true"
            contentProvider="org.talend.repository.view.esb.viewer.content.BeansContentProvider"
            icon="icons/beans.gif"
            id="org.talend.repository.viewer.esb.beans"
            labelProvider="org.talend.repository.viewer.label.RepositoryViewLabelProvider"
            name="Beans"
            priority="normal">
         <triggerPoints>
            <and>
               <instanceof
                     value="org.talend.repository.model.RepositoryNode">
               </instanceof>
               <test
                     forcePluginActivation="true"
                     property="org.talend.repository.node.isCodeTopNode">
               </test>
            </and>
         </triggerPoints>
         <possibleChildren>
            <instanceof
                  value="org.talend.repository.model.RepositoryNode">
            </instanceof>
         </possibleChildren>
         <actionProvider
               class="org.talend.repository.view.esb.viewer.action.ESBRepositoryNodeActionProvider">
            <enablement>
               <and>
                  <instanceof
                        value="org.talend.repository.model.RepositoryNode">
                  </instanceof>
                  <test
                        forcePluginActivation="true"
                        property="org.talend.repository.node.code.isBeans">
                  </test>
                  <not>
                     <test
                           forcePluginActivation="true"
                           property="org.talend.repository.node.isDeleted">
                     </test>
                  </not>
               </and>
            </enablement>
         </actionProvider>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.talend.repository.view.esb.viewer.tester.RoutesNodeTester"
            id="org.talend.repository.node.tester.routes"
            namespace="org.talend.repository.node"
            properties="isRoutesTopNode"
            type="org.talend.repository.model.RepositoryNode">
      </propertyTester>
      <propertyTester
            class="org.talend.repository.view.esb.viewer.tester.BeansNodeTester"
            id="org.talend.repository.node.tester.code.beans"
            namespace="org.talend.repository.node.code"
            properties="isBeans"
            type="org.talend.repository.model.RepositoryNode">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="org.talend.repository.cnf.view">
         <includes>
            <contentExtension
                  pattern="org.talend.repository.viewer.esb.*">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.talend.repository.viewer.perspective.filter">
      <perspectiveFilter
            actionProviderId="org.talend.repository.viewer.actionbar.menu.perspectiveFilter"
            perspectiveId="org.talend.camel.perspective">
         <includes>
            <contentExtension
                  pattern="org.talend.repository.viewer.esb.*">
            </contentExtension>
            <contentExtension
                  pattern="org.talend.repository.viewer.root.contexts">
            </contentExtension>
            <contentExtension
                  pattern="org.talend.repository.viewer.root.code">
            </contentExtension>
            <contentExtension
                  pattern="org.talend.repository.viewer.root.recycleBin">
            </contentExtension>
         </includes>
      </perspectiveFilter>
      <perspectiveFilter
            actionProviderId="org.talend.repository.viewer.actionbar.menu.perspectiveFilter"
            perspectiveId="org.talend.rcp.perspective">
         <excludes>
            <contentExtension
                  pattern="org.talend.repository.viewer.esb.*">
            </contentExtension>
         </excludes>
      </perspectiveFilter>
   </extension>

</plugin>
