<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.talend.designer.camel.dependencies.importPackage" name="Camel Import Package" schema="schema/org.talend.designer.camel.dependencies.importPackage.exsd"/>
   <extension-point id="org.talend.designer.camel.dependencies.bundleClasspath" name="Camel Bundle Classpath" schema="schema/org.talend.designer.camel.dependencies.bundleClasspath.exsd"/>
   <extension-point id="org.talend.designer.camel.dependencies.requireBundle" name="Require Bundle" schema="schema/org.talend.designer.camel.dependencies.requireBundle.exsd"/>
   <extension
         point="org.talend.designer.camel.dependencies.importPackage">
      <importPackage
            packageName="javax.xml.bind">
      </importPackage>
      <importPackage
            packageName="javax.xml.bind.annotation">
      </importPackage>
      <importPackage
            packageName="javax.xml.namespace">
      </importPackage>
      <importPackage
            optional="true"
            packageName="javax.xml.ws">
      </importPackage>
      <importPackage
            optional="true"
            packageName="javax.jws">
      </importPackage>
      <importPackage
            optional="true"
            packageName="javax.jws.soap">
      </importPackage>
      <importPackage
            optional="true"
            packageName="org.slf4j">
      </importPackage>
      <importPackage
            optional="true"
            packageName="org.apache.commons.logging">
      </importPackage>
      <importPackage
            maxVersion="3"
            minVersion="2.7"
            packageName="org.apache.camel">
      </importPackage>
      <importPackage
            maxVersion="3"
            minVersion="2.7"
            packageName="org.apache.camel.builder">
      </importPackage>
      <importPackage
            maxVersion="3"
            minVersion="2.7"
            packageName="org.apache.camel.impl">
      </importPackage>
      <importPackage
            maxVersion="3"
            minVersion="2.7"
            packageName="org.apache.camel.management">
      </importPackage>
      <importPackage
            maxVersion="3"
            minVersion="2.7"
            packageName="org.apache.camel.model">
      </importPackage>
      <importPackage
            maxVersion="3"
            minVersion="2.7"
            packageName="org.apache.camel.osgi">
      </importPackage>
      <importPackage
            maxVersion="3"
            minVersion="2.7"
            packageName="org.apache.camel.spi">
      </importPackage>
      <importPackage
            maxVersion="3"
            minVersion="2.7"
            packageName="org.apache.camel.view">
      </importPackage>
      <importPackage
            maxVersion="2"
            minVersion="1.5"
            packageName="org.osgi.framework">
      </importPackage>
      <importPackage
            maxVersion="2.0.0"
            minVersion="1.0.0"
            packageName="org.osgi.service.blueprint">
      </importPackage>
      <importPackage
            packageName="routines.system.api">
      </importPackage>
      <component
            componentName="cCXF">
         <importPackage
               packageName="org.apache.camel.component.cxf">
         </importPackage>
         <importPackage
               packageName="org.apache.cxf.feature">
         </importPackage>
         <importPackage
               maxVersion="6.0.0"
               minVersion="2.0.0"
               packageName="org.talend.esb.servicelocator.cxf">
            <predicate
                  attributeName="ENABLE_SL"
                  attributeValue="true">
            </predicate>
         </importPackage>
         <importPackage
               maxVersion="6.0.0"
               minVersion="2.0.0"
               packageName="org.talend.esb.sam.agent.feature">
            <predicate
                  attributeName="ENABLE_SAM"
                  attributeValue="true">
            </predicate>
         </importPackage>
         <importPackage
               packageName="org.apache.cxf.configuration">
         </importPackage>
         <importPackage
               packageName="org.apache.cxf.bus.osgi">
         </importPackage>
         <importPackage
               packageName="META-INF.cxf">
         </importPackage>
         <importPackage
               packageName="org.apache.cxf.bus.spring">
         </importPackage>
         <importPackage
               packageName="org.springframework.osgi.context.support">
         </importPackage>
         <importPackage
               packageName="org.apache.neethi">
            <predicate
                  attributeName="ENABLE_SECURITY"
                  attributeValue="true">
            </predicate>
         </importPackage>
         <importPackage
               packageName="org.apache.cxf.ws.security.wss4j">
            <predicate
                  attributeName="ENABLE_SECURITY"
                  attributeValue="true">
            </predicate>
         </importPackage>
         <importPackage
               packageName="org.apache.cxf.ws.policy">
            <predicate
                  attributeName="ENABLE_SECURITY"
                  attributeValue="true">
            </predicate>
         </importPackage>
         <importPackage
               packageName="org.apache.ws.security.validate">
            <predicate
                  attributeName="ENABLE_SECURITY"
                  attributeValue="true">
            </predicate>
            <predicate
                  attributeName="SECURITY_TYPE"
                  attributeValue="USER">
            </predicate>
         </importPackage>
         <importPackage
               packageName="org.apache.cxf.ws.security.trust">
            <predicate
                  attributeName="ENABLE_SECURITY"
                  attributeValue="true">
            </predicate>
            <predicate
                  attributeName="SECURITY_TYPE"
                  attributeValue="SAML">
            </predicate>
         </importPackage>
         <importPackage
               packageName="org.apache.cxf.ws.security">
            <predicate
                  attributeName="ENABLE_SECURITY"
                  attributeValue="true">
            </predicate>
            <predicate
                  attributeName="SECURITY_TYPE"
                  attributeValue="SAML">
            </predicate>
         </importPackage>
         <importPackage
               packageName="org.apache.ws.security">
            <predicate
                  attributeName="ENABLE_SECURITY"
                  attributeValue="true">
            </predicate>
            <predicate
                  attributeName="SECURITY_TYPE"
                  attributeValue="SAML">
            </predicate>
         </importPackage>
         <importPackage
               packageName="org.talend.esb.job.controller">
            <predicate
                  attributeName="ENABLE_SECURITY"
                  attributeValue="true">
            </predicate>
            <predicate
                  attributeName="SECURITY_TYPE"
                  attributeValue="SAML">
            </predicate>
         </importPackage>
         <importPackage
               packageName="org.apache.cxf.interceptor.security">
            <predicate
                  attributeName="ENABLE_SECURITY"
                  attributeValue="true">
            </predicate>
            <predicate
                  attributeName="SECURITY_TYPE"
                  attributeValue="SAML">
            </predicate>
         </importPackage>
         <importPackage
               packageName="org.apache.cxf.headers">
            <predicate
                  attributeName="ENABLE_SECURITY"
                  attributeValue="true">
            </predicate>
         </importPackage>
         <importPackage
               packageName="org.apache.camel.component.cxf.common.header">
            <predicate
                  attributeName="ENABLE_SECURITY"
                  attributeValue="true">
            </predicate>
         </importPackage>
         <importPackage
               packageName="org.apache.cxf.service.model">
            <predicate
                  attributeName="ENABLE_REGISTRY"
                  attributeValue="true">
            </predicate>
         </importPackage>
         <importPackage
               packageName="org.apache.cxf.endpoint">
            <predicate
                  attributeName="ENABLE_REGISTRY"
                  attributeValue="true">
            </predicate>
         </importPackage>
      </component>
      <component
            componentName="cCXFRS">
         <importPackage
               packageName="org.talend.esb.authorization.xacml.rt.pep">
            <predicate
                  attributeName="ENABLE_SECURITY"
                  attributeValue="true">
            </predicate>
            <predicate
                  attributeName="SECURITY_TYPE"
                  attributeValue="SAML">
            </predicate>
            <predicate
                  attributeName="NEED_AUTHORIZATION"
                  attributeValue="true">
            </predicate>
         </importPackage>
      </component>
      <component
            componentName="cHttp">
         <importPackage
               packageName="org.apache.camel.component.http">
         </importPackage>
         <importPackage
               packageName="org.apache.commons.httpclient.protocol">
         </importPackage>
         <importPackage
               packageName="org.apache.commons.httpclient.params">
         </importPackage>
      </component>
      <component
            componentName="cMQConnectionFactory">
         <importPackage
               packageName="org.apache.camel.component.jms">
         </importPackage>
         <importPackage
               packageName="javax.jms">
         </importPackage>
         <importPackage
               packageName="org.apache.activemq">
            <predicate
                  attributeName="MQ_TYPE"
                  attributeValue="ActiveMQ">
            </predicate>
         </importPackage>
         <importPackage
               packageName="org.apache.activemq.pool">
            <predicate
                  attributeName="AMQ_POOL"
                  attributeValue="true">
            </predicate>
            <predicate
                  attributeName="MQ_TYPE"
                  attributeValue="ActiveMQ">
            </predicate>
         </importPackage>
         <importPackage
               packageName="org.apache.commons.pool">
            <predicate
                  attributeName="AMQ_POOL"
                  attributeValue="true">
            </predicate>
            <predicate
                  attributeName="MQ_TYPE"
                  attributeValue="ActiveMQ">
            </predicate>
         </importPackage>
         <importPackage
               packageName="javax.transaction">
            <predicate
                  attributeName="MQ_TYPE"
                  attributeValue="WebSphere MQ">
            </predicate>
         </importPackage>
         <importPackage
               packageName="org.springframework.jms.connection">
            <predicate
                  attributeName="WMQ_AUTH"
                  attributeValue="true">
            </predicate>
            <predicate
                  attributeName="MQ_TYPE"
                  attributeValue="WebSphere MQ">
            </predicate>
         </importPackage>
      </component>
      <component
            componentName="cMessagingEndpoint">
         <importPackage
               packageName="org.apache.camel.component.jetty">
            <predicate
                  attributeName="URI"
                  attributeValue="&quot;jetty:https(.)+"
                  regex="true">
            </predicate>
         </importPackage>
      </component>
      <component
            componentName="cLoop">
         <importPackage
               packageName="groovy.lang">
            <predicate
                  attributeName="LOOP_TYPE"
                  attributeValue="EXPRESSION_TYPE">
            </predicate>
            <predicate
                  attributeName="LANGUAGES"
                  attributeValue="groovy">
            </predicate>
         </importPackage>
         <importPackage
               packageName="org.codehaus.groovy.runtime">
            <predicate
                  attributeName="LOOP_TYPE"
                  attributeValue="EXPRESSION_TYPE">
            </predicate>
            <predicate
                  attributeName="LANGUAGES"
                  attributeValue="groovy">
            </predicate>
         </importPackage>
         <importPackage
               packageName="org.codehaus.groovy.runtime.callsite">
            <predicate
                  attributeName="LOOP_TYPE"
                  attributeValue="EXPRESSION_TYPE">
            </predicate>
            <predicate
                  attributeName="LANGUAGES"
                  attributeValue="groovy">
            </predicate>
         </importPackage>
         <importPackage
               packageName="org.codehaus.groovy.runtime.typehandling">
            <predicate
                  attributeName="LOOP_TYPE"
                  attributeValue="EXPRESSION_TYPE">
            </predicate>
            <predicate
                  attributeName="LANGUAGES"
                  attributeValue="groovy">
            </predicate>
         </importPackage>
         <importPackage
               packageName="org.codehaus.groovy.reflection">
            <predicate
                  attributeName="LOOP_TYPE"
                  attributeValue="EXPRESSION_TYPE">
            </predicate>
            <predicate
                  attributeName="LANGUAGES"
                  attributeValue="groovy">
            </predicate>
         </importPackage>
      </component>
      <component
            componentName="cMessageFilter">
         <importPackage
               packageName="groovy.lang">
            <predicate
                  attributeName="LANGUAGES"
                  attributeValue="groovy">
            </predicate>
         </importPackage>
         <importPackage
               packageName="org.codehaus.groovy.runtime">
            <predicate
                  attributeName="LANGUAGES"
                  attributeValue="groovy">
            </predicate>
         </importPackage>
         <importPackage
               packageName="org.codehaus.groovy.runtime.callsite">
            <predicate
                  attributeName="LANGUAGES"
                  attributeValue="groovy">
            </predicate>
         </importPackage>
         <importPackage
               packageName="org.codehaus.groovy.runtime.typehandling">
            <predicate
                  attributeName="LANGUAGES"
                  attributeValue="groovy">
            </predicate>
         </importPackage>
         <importPackage
               packageName="org.codehaus.groovy.reflection">
            <predicate
                  attributeName="LANGUAGES"
                  attributeValue="groovy">
            </predicate>
         </importPackage>
      </component>
      <component
            componentName="cRecipientList">
         <importPackage
               packageName="groovy.lang">
            <predicate
                  attributeName="LANGUAGES"
                  attributeValue="groovy">
            </predicate>
         </importPackage>
         <importPackage
               packageName="org.codehaus.groovy.runtime">
            <predicate
                  attributeName="LANGUAGES"
                  attributeValue="groovy">
            </predicate>
         </importPackage>
         <importPackage
               packageName="org.codehaus.groovy.runtime.callsite">
            <predicate
                  attributeName="LANGUAGES"
                  attributeValue="groovy">
            </predicate>
         </importPackage>
         <importPackage
               packageName="org.codehaus.groovy.runtime.typehandling">
            <predicate
                  attributeName="LANGUAGES"
                  attributeValue="groovy">
            </predicate>
         </importPackage>
         <importPackage
               packageName="org.codehaus.groovy.reflection">
            <predicate
                  attributeName="LANGUAGES"
                  attributeValue="groovy">
            </predicate>
         </importPackage>
      </component>
      <component
            componentName="cSetBody">
         <importPackage
               packageName="groovy.lang">
            <predicate
                  attributeName="LANGUAGES"
                  attributeValue="groovy">
            </predicate>
         </importPackage>
         <importPackage
               packageName="org.codehaus.groovy.runtime">
            <predicate
                  attributeName="LANGUAGES"
                  attributeValue="groovy">
            </predicate>
         </importPackage>
         <importPackage
               packageName="org.codehaus.groovy.runtime.callsite">
            <predicate
                  attributeName="LANGUAGES"
                  attributeValue="groovy">
            </predicate>
         </importPackage>
         <importPackage
               packageName="org.codehaus.groovy.runtime.typehandling">
            <predicate
                  attributeName="LANGUAGES"
                  attributeValue="groovy">
            </predicate>
         </importPackage>
         <importPackage
               packageName="org.codehaus.groovy.reflection">
            <predicate
                  attributeName="LANGUAGES"
                  attributeValue="groovy">
            </predicate>
         </importPackage>
      </component>
      <component
            componentName="cSetHeader">
         <importPackage
               packageName="groovy.lang">
            <predicate
                  attributeName="VALUES.LANGUAGE"
                  attributeValue="groovy">
            </predicate>
         </importPackage>
         <importPackage
               packageName="org.codehaus.groovy.runtime">
            <predicate
                  attributeName="VALUES.LANGUAGE"
                  attributeValue="groovy">
            </predicate>
         </importPackage>
         <importPackage
               packageName="org.codehaus.groovy.runtime.callsite">
            <predicate
                  attributeName="VALUES.LANGUAGE"
                  attributeValue="groovy">
            </predicate>
         </importPackage>
         <importPackage
               packageName="org.codehaus.groovy.runtime.typehandling">
            <predicate
                  attributeName="VALUES.LANGUAGE"
                  attributeValue="groovy">
            </predicate>
         </importPackage>
         <importPackage
               packageName="org.codehaus.groovy.reflection">
            <predicate
                  attributeName="VALUES.LANGUAGE"
                  attributeValue="groovy">
            </predicate>
         </importPackage>
      </component>
   </extension>
   <extension
         point="org.talend.designer.camel.dependencies.bundleClasspath">
      <classpath
            attributeName="DRIVER_JAR"
            checked="false"
            componentName="cConfig">
      </classpath>
      <classpath
            attributeName="WMQ_DRIVER_JAR"
            componentName="cMQConnectionFactory">
         <predicate
               attributeName="MQ_TYPE"
               attributeValue="WebSphere MQ">
         </predicate>
      </classpath>
      <classpath
            attributeName="OTHER_DRIVER_JAR"
            componentName="cMQConnectionFactory">
         <predicate
               attributeName="MQ_TYPE"
               attributeValue="Other">
         </predicate>
      </classpath>
      <classpath
            attributeName="LIBRARY"
            componentName="cTalendJob">
         <predicate
               attributeName="FROM_EXTERNAL_JAR"
               attributeValue="true">
         </predicate>
      </classpath>
      <classpath
            attributeName="LIBRARY"
            checked="false"
            componentName="cMessagingEndpoint">
         <predicate
               attributeName="USE_CUSTOM_COMPONENT"
               attributeValue="true">
         </predicate>
      </classpath>
      <classpath
            attributeName="AMQP_DRIVER_JAR"
            componentName="cMQConnectionFactory">
         <predicate
               attributeName="MQ_TYPE"
               attributeValue="AMQP">
         </predicate>
      </classpath>
   </extension>
   <extension
         point="org.talend.designer.camel.dependencies.requireBundle">
      <requireBundle
            bundleName="org.apache.camel.camel-core">
      </requireBundle>
   </extension>
   <extension
         point="org.talend.core.runtime.service">
      <Service
            class="org.talend.designer.camel.dependencies.core.util.OsgiDependenciesService"
            serviceId="IOsgiDependenciesService">
      </Service>
   </extension>

</plugin>
