<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension-point id="org.talend.designer.camel.dependencies.importPackage" name="Camel Import Package" schema="schema/org.talend.designer.camel.dependencies.importPackage.exsd"/>
    <extension-point id="org.talend.designer.camel.dependencies.bundleClasspath" name="Camel Bundle Classpath" schema="schema/org.talend.designer.camel.dependencies.bundleClasspath.exsd"/>
    <extension-point id="org.talend.designer.camel.dependencies.requireBundle" name="Require Bundle" schema="schema/org.talend.designer.camel.dependencies.requireBundle.exsd"/>

    <extension point="org.talend.designer.camel.dependencies.importPackage">

        <importPackage
            name="org.apache.camel,
                org.apache.camel.component.properties,
                org.apache.camel.builder,
                org.apache.camel.impl,
                org.apache.camel.main,
                org.apache.camel.management,
                org.apache.camel.model,
                org.apache.camel.spi,
                org.apache.camel.spring,
                routines.system.api"
        />

        <component componentName="cSOAP">
            <importPackage
                name="javax.xml.namespace,
                    org.apache.camel.component.cxf,
                    org.apache.camel.component.cxf.common.header"
            />
            <importPackage
                name="org.talend.esb.servicelocator.cxf">
                <predicate
                    attributeName="ENABLE_SL"
                    attributeValue="true">
                </predicate>
            </importPackage>
            <importPackage
                name="org.talend.esb.sam.agent.feature">
                <predicate
                    attributeName="ENABLE_SAM"
                    attributeValue="true">
                </predicate>
            </importPackage>
            <importPackage
                name="org.apache.neethi,
                    org.apache.cxf.ws.security.wss4j,
                    org.apache.cxf.ws.policy,
                    org.apache.cxf.headers,
                    org.apache.camel.component.cxf.common.header">
                <predicate
                    attributeName="ENABLE_SECURITY"
                    attributeValue="true">
                </predicate>
            </importPackage>
            <importPackage
                name="org.apache.cxf.interceptor.security,
                    org.springframework.beans.factory.config">
                <predicate
                    attributeName="ENABLE_SECURITY"
                    attributeValue="true">
                </predicate>
                <predicate
                    attributeName="SECURITY_TYPE"
                    attributeValue="SAML">
                </predicate>
            </importPackage>
            <importPackage
                name="org.apache.cxf.service.model,
                    org.apache.cxf.endpoint">
                <predicate
                    attributeName="ENABLE_REGISTRY"
                    attributeValue="true">
                </predicate>
            </importPackage>
        </component>

        <component componentName="cREST">
            <importPackage
                name="javax.ws.rs,
                    javax.ws.rs.core,
                    javax.ws.rs.ext,
                    javax.xml.stream,
                    javax.xml.transform,
                    org.apache.camel.component.cxf,
                    org.apache.camel.component.cxf.jaxrs,
                    org.apache.cxf.jaxrs,
                    org.apache.cxf.jaxrs.lifecycle,
                    org.apache.cxf.jaxrs.provider,
                    org.apache.cxf.jaxrs.utils,
                    org.apache.cxf.staxutils"
            />
            <importPackage
                name="org.apache.cxf.interceptor.security,
                    org.springframework.beans.factory.config">
                <predicate
                    attributeName="ENABLE_SECURITY"
                    attributeValue="true">
                </predicate>
                <predicate
                    attributeName="SECURITY_TYPE"
                    attributeValue="SAML">
                </predicate>
            </importPackage>
            <importPackage
                name="org.talend.esb.authorization.xacml.rt.pep">
                <predicate
                    attributeName="ENABLE_SECURITY"
                    attributeValue="true">
                </predicate>
                <predicate
                    attributeName="SECURITY_TYPE"
                    attributeValue="SAML">
                </predicate>
                <predicate
                    attributeName="USE_AUTHORIZATION"
                    attributeValue="true">
                </predicate>
            </importPackage>
            <importPackage
                name="org.talend.esb.sam.agent.feature">
                <predicate
                    attributeName="SERVICE_ACTIVITY_MONITOR"
                    attributeValue="true">
                </predicate>
            </importPackage>
        </component>

        <component componentName="cHttp">
            <importPackage
                name="org.apache.camel.component.http,
                    org.apache.commons.httpclient.protocol,
                    org.apache.commons.httpclient.params"
            />
        </component>

        <component componentName="cMQConnectionFactory">
            <importPackage
                name="org.apache.camel.component.jms,
                    javax.jms"
            />
            <importPackage
                name="org.apache.activemq">
                <predicate
                    attributeName="MQ_TYPE"
                    attributeValue="ActiveMQ">
                </predicate>
            </importPackage>
            <importPackage
                name="org.apache.activemq.pool,
                    org.apache.commons.pool">
                <predicate
                    attributeName="AMQ_POOL"
                    attributeValue="true">
                </predicate>
                <predicate
                    attributeName="MQ_TYPE"
                    attributeValue="ActiveMQ">
                </predicate>
            </importPackage>
            <importPackage
                name="javax.transaction">
                <predicate
                    attributeName="MQ_TYPE"
                    attributeValue="WebSphere MQ">
                </predicate>
            </importPackage>
            <importPackage
                name="org.springframework.jms.connection">
                <predicate
                    attributeName="WMQ_AUTH"
                    attributeValue="true">
                </predicate>
                <predicate
                    attributeName="MQ_TYPE"
                    attributeValue="WebSphere MQ">
                </predicate>
            </importPackage>
        </component>

        <!--component componentName="cMessagingEndpoint">
            <importPackage
               packageName="org.apache.camel.component.jetty">
            <predicate
                  attributeName="URI"
                  attributeValue="&quot;jetty:https(.)+"
                  regex="true">
            </predicate>
         </importPackage>
      </component-->

        <component componentName="cLoop">
            <importPackage
                name="groovy.lang,
                    org.codehaus.groovy.runtime,
                    org.codehaus.groovy.runtime.callsite,
                    org.codehaus.groovy.runtime.typehandling,
                    org.codehaus.groovy.reflection">
                <predicate
                    attributeName="LOOP_TYPE"
                    attributeValue="EXPRESSION_TYPE">
                </predicate>
                <predicate
                    attributeName="LANGUAGES"
                    attributeValue="groovy">
                </predicate>
            </importPackage>
        </component>

        <component componentName="cMessageFilter">
            <importPackage
                name="groovy.lang,
                    org.codehaus.groovy.runtime,
                    org.codehaus.groovy.runtime.callsite,
                    org.codehaus.groovy.runtime.typehandling,
                    org.codehaus.groovy.reflection">
                <predicate
                    attributeName="LANGUAGES"
                    attributeValue="groovy">
                </predicate>
            </importPackage>
        </component>

        <component componentName="cRecipientList">
            <importPackage
                name="groovy.lang,
                    org.codehaus.groovy.runtime,
                    org.codehaus.groovy.runtime.callsite,
                    org.codehaus.groovy.runtime.typehandling,
                    org.codehaus.groovy.reflection">
                <predicate
                    attributeName="LANGUAGES"
                    attributeValue="groovy">
                </predicate>
            </importPackage>
        </component>

        <component componentName="cSetBody">
            <importPackage
                name="groovy.lang,
                    org.codehaus.groovy.runtime,
                    org.codehaus.groovy.runtime.callsite,
                    org.codehaus.groovy.runtime.typehandling,
                    org.codehaus.groovy.reflection">
                <predicate
                    attributeName="LANGUAGES"
                    attributeValue="groovy">
                </predicate>
            </importPackage>
        </component>

        <component componentName="cSetHeader">
            <importPackage
                name="groovy.lang,
                    org.codehaus.groovy.runtime,
                    org.codehaus.groovy.runtime.callsite,
                    org.codehaus.groovy.runtime.typehandling,
                    org.codehaus.groovy.reflection">
                <predicate
                    attributeName="VALUES:LANGUAGE"
                    attributeValue="groovy">
                </predicate>
            </importPackage>
        </component>

        <component componentName="cSetProperty">
            <importPackage
                name="groovy.lang,
                    org.codehaus.groovy.runtime,
                    org.codehaus.groovy.runtime.callsite,
                    org.codehaus.groovy.runtime.typehandling,
                    org.codehaus.groovy.reflection">
                <predicate
                    attributeName="VALUES:LANGUAGE"
                    attributeValue="groovy">
                </predicate>
            </importPackage>
        </component>

        <component componentName="groovy">
            <importPackage
                name="groovy.lang,
                    org.codehaus.groovy.runtime,
                    org.codehaus.groovy.runtime.callsite,
                    org.codehaus.groovy.runtime.typehandling,
                    org.codehaus.groovy.reflection"
            />
        </component>
    </extension>

    <!--extension point="org.talend.designer.camel.dependencies.requireBundle">
        <requireBundle
            name="org.apache.camel.camel-core">
        </requireBundle>
    </extension-->

    <extension point="org.talend.designer.camel.dependencies.bundleClasspath">
        <classpath name="cConfig"
            parameter="DRIVER_JAR"
            optional="true"/>
        <classpath name="cMQConnectionFactory"
            parameter="WMQ_DRIVER_JAR"
            optional="true">
            <predicate
                attributeName="MQ_TYPE"
                attributeValue="WebSphere MQ">
            </predicate>
        </classpath>
        <classpath name="cMQConnectionFactory"
            parameter="OTHER_DRIVER_JAR"
            optional="true">
            <predicate
                attributeName="MQ_TYPE"
                attributeValue="Other">
            </predicate>
        </classpath>
        <classpath name="cTalendJob"
            parameter="LIBRARY">
            <predicate
                attributeName="FROM_EXTERNAL_JAR"
                attributeValue="true">
            </predicate>
        </classpath>
        <classpath name="cMessagingEndpoint"
            parameter="LIBRARY"
            optional="true">
            <predicate
                attributeName="USE_CUSTOM_COMPONENT"
                attributeValue="true">
            </predicate>
        </classpath>
    </extension>

</plugin>
