<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.talend.core.runtime.service">
      <Service
            class="org.talend.camel.designer.codegen.CamelCodeGeneratorService"
            serviceId="ICamelCodeGeneratorService">
      </Service>
   </extension>
   <extension
         point="org.talend.designer.codegen.additional_jetfile">
      <jetProvider
            class="org.talend.camel.designer.codegen.jet.CamelJetFileProvider"
            id="org.talend.camel.designer.codegen.jet.CamelJetFileProvider">
      </jetProvider>
   </extension>

</plugin>
