<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.talend.core.routines_provider">
      <RoutinesProvider
            class="org.talend.designer.routines.camelprovider.CamelRoutinesProviderCreator">
      </RoutinesProvider>
   </extension>
   <extension
         point="org.talend.core.systemRoutineLibrary">
      <systemRoutine
            name="CamelStat">
         <library
               name="camel-core-2.15.3.jar">
            <bundleId
                  bundleId="org.apache.camel.camel-core">
            </bundleId>
         </library>
      </systemRoutine>
   </extension>

</plugin>
