<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.talend.core.runtime.service">
      <Service
            class="org.talend.camel.designer.CamelDesignerCoreService"
            serviceId="ICamelDesignerCoreService">
      </Service>
      <Service
            class="org.talend.camel.designer.CamelDesignerCoreUIService"
            serviceId="ICamelDesignerCoreUIService">
      </Service>
      
      <Service
            class="org.talend.camel.designer.service.RouteService"
            serviceId="IESBRouteService">
      </Service>
   </extension>

    <extension point="org.talend.core.repository.repository_content">
        <RepositoryContent class="org.talend.camel.designer.CamelRepositoryContentHandler" />
    </extension>

   <extension
               point="org.talend.core.repositoryContextualsActions">
            <Action
                  class="org.talend.camel.designer.ui.EditCamelProcess"
                  id="org.talend.camel.designer.ui.EditCamelProcess"
                  isEditAction="true"
                  level="10"
                  name="Edit Process">
            </Action>
            <Action
                  class="org.talend.camel.designer.ui.RunCamelProcess"
                  id="org.talend.camel.designer.ui.RunCamelProcess"
                  isEditAction="true"
                  level="99"
                  name="Run process">
            </Action>
            <Action
                  class="org.talend.camel.designer.ui.ReadCamelProcess"
                  id="org.talend.camel.designer.ui.ReadCamelProcess"
                  isReadAction="true"
                  level="11"
                  name="Read process">
            </Action>
            <Action
                  class="org.talend.camel.designer.ui.CreateCamelProcess"
                  id="org.talend.camel.designer.ui.CreateCamelProcess"
                  level="10"
                  name="Create process">
            </Action>
            <Action
                  class="org.talend.camel.designer.ui.OpenCamelExistVersionProcessAction"
                  id="org.talend.camel.designer.ui.OpenCamelExistVersionProcessAction"
                  isReadAction="true"
                  level="12"
                  name="Open an other version job">
            </Action>
            <Action
                  class="org.talend.camel.designer.ui.ExporCameltJobScriptAction"
                  id="org.talend.repository.ui.actions.exportjobscript"
                  level="99"
                  name="Build Route">
            </Action>
            <Action
                  class="org.talend.camel.designer.ui.bean.CreateCamelBean"
                  id="org.talend.camel.designer.ui.bean.CreateCamelBean"
                  isEditAction="true"
                  level="10"
                  name="Create Camel Bean">
            </Action>
            <Action
                  class="org.talend.camel.designer.ui.bean.EditCamelBean"
                  id="org.talend.camel.designer.ui.bean.EditCamelBean"
                  isEditAction="true"
                  level="11"
                  name="Edit Camel Bean">
            </Action>
            <Action
                  class="org.talend.camel.designer.ui.bean.ReadCamelBean"
                  id="org.talend.camel.designer.ui.bean.ReadCamelBean"
                  isEditAction="false"
                  isPropertiesAction="false"
                  isReadAction="false"
                  name="Rean Camel Bean">
            </Action>
         </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.talend.camel.designer.ui.editor.CamelMultiPageTalendEditor"
            contributorClass="org.talend.designer.core.ui.MultiPageEditorContributor"
            default="false"
            icon="icons/routes_editor.png"
            id="org.talend.camel.designer.core.ui.CamelMultiPageTalendEditor"
            name="Mediation">
      </editor>
   </extension>

 <extension
         point="org.talend.core.migrationTask">
      <projecttask
            beforeLogon="false"
            breaks="5.1.3"
            class="org.talend.camel.designer.migration.DisconnectErroHandlerMigrationTask"
            description="DisconnectErroHandlerMigrationTask"
            id="org.talend.camel.designer.disconnectErroHandlerMigrationTask"
            name="DisconnectErroHandlerMigrationTask"
            version="5.2.0">
      </projecttask>
      <projecttask
            beforeLogon="false"
            breaks="5.1.1"
            class="org.talend.camel.designer.migration.NewJMSComponentMigrationTask"
            description="NewJMSComponentMigrationTask"
            id="org.talend.camel.designer.NewJMSComponentMigrationTask"
            name="NewJMSComponentMigrationTask"
            version="5.1.2">
      </projecttask>
       <projecttask
             beforeLogon="false"
             breaks="5.1.1"
             class="org.talend.camel.designer.migration.AggregateStrategyMigrationTask"
             description="AggregateStrategyMigrationTask"
             id="org.talend.camel.designer.AggregateStrategyMigrationTask"
             name="AggregateStrategyMigrationTask"
             version="5.1.2">
      </projecttask>
       <projecttask
             beforeLogon="false"
             breaks="5.1.1"
             class="org.talend.camel.designer.migration.UpdateCJMSProjectMigrationTask"
             description="Update cJMS using cJMSConnectionFactory"
             id="org.talend.camel.designer.UpdateCJMSProjectTask"
             name="UpdateCJMSProjectTask"
             version="5.1.2">
       </projecttask>
             <projecttask
                   beforeLogon="false"
                   breaks="5.1.1"
                   class="org.talend.camel.designer.migration.UpdatecJMSMigrationTask"
                   description="Update cJMS to use new field"
                   id="org.talend.camel.designer.migration.UpdatecJMSMigrationTask"
                   name="UpdatecJMSMigrationTask"
                   version="5.1.2">
             </projecttask>
      		<projecttask
                   beforeLogon="false"
                   breaks="5.1.2"
                   class="org.talend.camel.designer.migration.CSetHeaderSupportMultiHeadersTask"
                   description="CSetHeaderSupportMultiHeadersTask"
                   id="org.talend.camel.designer.cSetHeaderSupportMultiHeadersTaskUpdate"
                   name="cSetHeaderSupportMultiHeadersTask"
                   version="5.2.0">
      		</projecttask>
      		<projecttask
                   beforeLogon="false"
                   breaks="5.1.2"
                   class="org.talend.camel.designer.migration.CBeanCTalendJobMigrationTask"
                   description="CBeanCTalendJobMigrationTask"
                   id="org.talend.camel.designer.cBeanCTalendJobMigrationTask"
                   name="cBeanCTalendJobMigrationTask"
                   version="5.2.0">
      		</projecttask>
	      	<projecttask
	            beforeLogon="false"
	            breaks="5.1.1"
	            class="org.talend.camel.designer.migration.UpdateCXFDataFormatMigrationTask"
	            description="UpdateCXFDataFormatMigrationTask"
	            id="org.talend.camel.designer.UpdateCXFDataFormatMigrationTask"
	            name="UpdateCXFDataFormatMigrationTask"
	            version="5.1.2">
	         </projecttask>
	         <projecttask
	            beforeLogon="false"
	            breaks="5.2.0"
	            class="org.talend.camel.designer.migration.FinalVersionUpgradeMigrationTask"
	            description="FinalVersionUpgradeMigrationTask"
	            id="org.talend.camel.designer.FinalVersionUpgradeMigrationTask"
	            name="FinalVersionUpgradeMigrationTask"
	            version="5.2.1">
	      	</projecttask>
          <projecttask
                beforeLogon="false"
                breaks="5.2.2"
                class="org.talend.camel.designer.migration.AddSpringConfigurationMigrationTask"
                description="AddSpringConfigurationMigrationTask"
                id="org.talend.camel.designer.AddSpringConfigurationMigrationTask"
                name="AddSpringConfigurationMigrationTask"
                version="5.3.0">
          </projecttask>
          <projecttask
                beforeLogon="false"
                breaks="5.2.2"
                class="org.talend.camel.designer.migration.AddPropagateHeaderTocTalendJobMigrationTask"
                description="AddPropagateHeaderTocTalendJobMigrationTask"
                id="org.talend.camel.designer.AddPropagateHeaderTocTalendJobMigrationTask"
                name="AddPropagateHeaderTocTalendJobMigrationTask"
                version="5.3.0">
          </projecttask>
          <projecttask
                   beforeLogon="false"
                   breaks="5.2.0"
                   class="org.talend.camel.designer.migration.CLogLoggingCategoryMigrationTask"
                   description="CLogLoggingCategoryMigrationTask"
                   id="org.talend.camel.designer.CLogLoggingCategoryMigrationTask"
                   name="cLogLoggingCategoryMigrationTask"
                   version="5.4.1">
          </projecttask>
          <projecttask
                beforeLogon="false"
                breaks="5.1.1"
                class="org.talend.camel.designer.migration.RenameToCMQConnectionFactoryMigrationTask"
                description="Rename_cJMSConnectionFactory_To_cMQConnectionFactory"
                id="org.talend.camel.designer.RenameToCMQConnectionFactoryMigrationTask"
                name="Rename_cJMSConnectionFactory_To_cMQConnectionFactory_MigrationTask"
                version="5.6.0">
          </projecttask>
          <projecttask
                beforeLogon="false"
                breaks="5.6.0"
                class="org.talend.camel.designer.migration.UnifyPasswordEncryption4ParametersInRouteMigrationTask"
                description="Unify the entryption for pass fields of parameters of routes"
                id="org.talend.camel.designer.migration.UnifyPasswordEncryption4ParametersInRouteMigrationTask"
                name="UnifyPasswordEncryption4ParametersInRouteMigrationTask"
                version="5.6.0">
          </projecttask>
          <projecttask
                beforeLogon="false"
                breaks="5.4.1"
                class="org.talend.camel.designer.migration.AddSpringConfigurationPropertyMigrationTask"
                description="Add ignore exchange event property to JmxNotificationEventNotifier"
                id="org.talend.camel.designer.migration.AddSpringConfigurationPropertyMigrationTask"
                name="AddSpringConfigurationPropertyMigrationTask"
                version="5.6.1">
          </projecttask>
          <projecttask
                beforeLogon="false"
                breaks="5.4.1"
                class="org.talend.camel.designer.migration.UpdatecSOAPServiceNamePortNameDefault"
                description="Set Default value of Service name and Port name to empty string"
                id="org.talend.camel.designer.migration.UpdatecSOAPServiceNamePortNameDefault"
                name="UpdatecSOAPServiceNamePortNameDefault"
                version="5.6.1">
          </projecttask>
          <projecttask
                beforeLogon="false"
                breaks="5.1.2"
                class="org.talend.camel.designer.migration.RemoveRouteComponentIdMigrationTask"
                description="Remove Route Component Id"
                id="org.talend.camel.designer.migration.RemoveRouteComponentIdMigrationTask"
                name="RemoveRouteComponentId"
                version="6.1.0">
          </projecttask>
          <projecttask
                beforeLogon="false"
                breaks="5.1.2"
                class="org.talend.camel.designer.migration.UpdateRouteResourceTypeMigrationTask"
                description="Update Route Resource Type"
                id="org.talend.camel.designer.migration.UpdateRouteResourceTypeMigrationTask"
                name="UpdateRouteResourceTypeMigrationTask"
                version="6.1.0">
          </projecttask>
          <projecttask
                beforeLogon="false"
                breaks="5.2.0"
                class="org.talend.camel.designer.migration.CCXFWsdlFileRepoMigrationTask"
                description="Update the WSDL_FILE_REPO in cCXF to fix TESB-6226"
                id="org.talend.camel.designer.migration.CCXFWsdlFileRepoMigrationTask"
                name="cCXFWsdlFileRepoMigrationTask"
                version="6.4.1">
          </projecttask>
          <projecttask
                beforeLogon="false"
                breaks="5.6.0"
                class="org.talend.camel.designer.migration.RenameToCSoapAndCRestMigrationTask"
                description="Rename cCXF To cSoap and cCXFRS to cRest"
                id="org.talend.camel.designer.migration.RenameToCSoapAndCRestMigrationTask"
                name="RenameToCSoapAndCRestMigrationTask"
                version="6.4.0">
          </projecttask>
          <projecttask
                beforeLogon="false"
                breaks="5.6.0"
                class="org.talend.camel.designer.migration.AddBeansDefaultLibrariesMigrationTask"
                description="Add Beans default libraries"
                id="org.talend.camel.designer.migration.AddBeansDefaultLibrariesMigrationTask"
                name="AddBeansDefaultLibrariesMigrationTask"
                version="7.0.1">
          </projecttask>
          <projecttask
                beforeLogon="false"
                breaks="5.6.0"
                class="org.talend.camel.designer.migration.UpdateBuildTypeForCTalendJobMigrationTask"
                description="Set route as build type for job in cTalendJob"
                id="org.talend.camel.designer.migration.UpdateBuildTypeForCTalendJobMigrationTask"
                name="UpdateBuildTypeForCTalendJobMigrationTask"
                version="7.0.1">
          </projecttask>
    </extension>

        <extension
              point="org.talend.designer.core.generators">
           <generator
                 class="org.talend.camel.designer.generator.RouteResourceGenerator"
                 mapping="ROUTE_RESOURCE_TYPE"
                 name="Route Resource Type">
           </generator>
           <generator
                 class="org.talend.camel.designer.generator.RouteComponentGenerator"
                 mapping="ROUTE_COMPONENT_TYPE"
                 name="Route Component Type">
           </generator>
           <generator
                 class="org.talend.camel.designer.generator.RouteInputProcessTypeGenerator"
                 mapping="ROUTE_INPUT_PROCESS_TYPE"
                 name="RouteInput Contained Process Type">
           </generator>
           
	        <generator
	                 class="org.talend.camel.designer.generator.SyncNexusButtonGenerator"
	                 mapping="SYNC_NEXUS_BUTTON"
	                 name="cConfig Sync Option">
	        </generator>           
           
	        <generator
	                 class="org.talend.camel.designer.generator.CheckNexusButtonGenerator"
	                 mapping="CHECK_NEXUS_BUTTON"
	                 name="cConfig Check Option">
	        </generator>
        </extension>
        
        <extension
              point="org.talend.designer.core.check_nodes">
           <checknodes
                 class="org.talend.camel.designer.check.CheckCXFNodesService">
           </checknodes>
           <checknodes
                 class="org.talend.camel.designer.check.CheckRouteComponentTypeService">
           </checknodes>
           <checknodes
                 class="org.talend.camel.designer.check.CheckRouteBuilderNodeService">
           </checknodes>
        </extension>
        <extension
              point="org.eclipse.ui.views">
           <view
                 allowMultiple="false"
                 category="org.talend.core.root"
                 class="org.talend.camel.designer.ui.view.SpringConfigurationView"
                 icon="icons/resource.png"
                 id="org.talend.camel.designer.spring.view"
                 name="%spring.view.name"
                 restorable="true">
           </view>
        </extension>
        <extension
              point="org.talend.core.repository.repoViewLinker">
           <linker
                 class="org.talend.camel.designer.ui.view.link.CamelProcessRepoViewLinker"
                 description="Route"
                 name="CamelProcess"
                 priority="normal">
           </linker>
           <linker
                 class="org.talend.camel.designer.ui.view.link.BeanRepoViewLinker"
                 name="Bean"
                 priority="normal">
           </linker>
        </extension>
        <extension
              point="org.talend.designer.core.process_convert">
           <processconvert
                 class="org.talend.camel.designer.RouteProcessConvertServiceImpl">
           </processconvert>
        </extension>
        <extension
              point="org.talend.core.repository.repositorySeeker">
           <seeker
                 class="org.talend.camel.designer.ui.view.seeker.RoutesRepositorySeeker"
                 description="Camel Process"
                 name="Routes">
           </seeker>
           <seeker
                 class="org.talend.camel.designer.ui.view.seeker.BeanRepositorySeeker"
                 name="Bean">
           </seeker>
        </extension>
        <extension
              point="org.talend.core.component_custom_action">
           <CustomAction
                 class="org.talend.camel.designer.ui.OpenTalendJobRefAction"
                 id="org.talend.designer.core.ui.editor.nodes.OpenTalendJobRefAction"
                 label="%openRefJob">
           </CustomAction>
        </extension>
        <extension
              point="org.talend.repository.items.importexport.handler">
           <importItemsProvider
                 id="org.talend.camel.designer.importProvider.routes"
                 name="Routes importer"
                 priority="NORMAL">
              <importItemsHandler
                    class="org.talend.camel.designer.ui.view.handler.RouteImportHandler">
                 <parameter
                       name="type"
                       value="ROUTE">
                 </parameter>
              </importItemsHandler>
           </importItemsProvider>
           <importItemsProvider
                 id="org.talend.camel.designer.importProvider.bean"
                 name="Bean importer"
                 priority="HIGH">
              <importItemsHandler
                    class="org.talend.camel.designer.ui.view.handler.BeanImportHandler">
                 <parameter
                       name="type"
                       value="BEANS">
                 </parameter>
              </importItemsHandler>
           </importItemsProvider>
        </extension>
        <extension
              point="org.talend.designer.maven.ui.repositoryMavenSetting">
           <RepositorySupportType
                 name="Supported Type">
              <RepositoryType
                    type="ROUTE">
              </RepositoryType>
           </RepositorySupportType>
        </extension>
        <extension
              point="org.talend.core.runtime.buildExport_provider">
           <buildProvider
                 description="Test case for Route"
                 id="build.provider.esb.route.testcase"
                 provider="org.talend.camel.designer.build.RouteTestCaseBuildProvider">
              <buildType
                    label="Route test case"
                    name="Route test case"
                    order="40">
              </buildType>
           </buildProvider>
           <buildProvider
                 description="Build OSGi bundle for ESB Route"
                 id="build.provider.esb.route.osgibundle"
                 provider="org.talend.camel.designer.build.RouteOSGiBundleBuildProvider">
                 <buildType
                       label="Route"
                       name="ROUTE"
                 order="20">
           </buildType>
           </buildProvider>
           <buildProvider
                 description="Build OSGi bundle for ESB Routelet"
                 id="build.provider.esb.routelet.osgibundle"
                 provider="org.talend.camel.designer.build.RouteletOSGiBundleBuildProvider">
                 <buildType
                       label="Routelet"
                       name="ROUTELET"
                 order="10">
           </buildType>
           </buildProvider>           
        </extension>

</plugin>
