<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension point="org.talend.core.runtime.librariesNeeded">
        <libraryNeeded
              context="plugin:org.talend.libraries.esb"
              language="java"
              message="Needed for the use of javax.ws.rs"
              name="javax.ws.rs-api-2.0-m10.jar"
              required="true">
        </libraryNeeded>
    </extension>
</plugin>
