<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            appearsBefore="org.talend.repository.viewer.root.services"
            contentProvider="org.talend.repository.view.route.viewer.content.RoutesContentProvider"
            id="org.talend.repository.view.route.routes"
            labelProvider="org.talend.repository.viewer.label.RepositoryViewLabelProvider"
            name="%NavigatorContent.routes">
         <triggerPoints>
            <or>
               <adapt
                     type="org.talend.core.repository.model.ProjectRepositoryNode">
               </adapt>
               <instanceof
                     value="org.talend.core.repository.model.ProjectRepositoryNode">
               </instanceof>
               <and>
                  <instanceof
                        value="org.talend.repository.model.RepositoryNode">
                  </instanceof>
                  <test
                        forcePluginActivation="true"
                        property="org.talend.repository.node.route.isRoutesTopNode">
                  </test>
               </and>
            </or>
         </triggerPoints>
         <possibleChildren>
            <and>
               <instanceof
                     value="org.talend.repository.model.RepositoryNode">
               </instanceof>
               <test
                     forcePluginActivation="true"
                     property="org.talend.repository.node.route.isRoutesTopNode">
               </test>
            </and>
         </possibleChildren>
         <actionProvider
               class="org.talend.repository.viewer.action.RepoNodeActionProvider"
               id="org.talend.repository.route.action.routes">
            <enablement>
               <and>
                  <instanceof
                        value="org.talend.repository.model.RepositoryNode">
                  </instanceof>
                  <test
                        forcePluginActivation="true"
                        property="org.talend.repository.node.route.isRoutesTopNode">
                  </test>
                  <not>
                     <test
                           forcePluginActivation="true"
                           property="org.talend.repository.node.isDeleted">
                     </test>
                  </not>
               </and>
            </enablement>
         </actionProvider>
      </navigatorContent>

      <navigatorContent
            activeByDefault="true"
            contentProvider="org.talend.repository.view.route.viewer.content.BeansContentProvider"
            id="org.talend.repository.view.route.beans"
            labelProvider="org.talend.repository.viewer.label.RepositoryViewLabelProvider"
            name="%NavigatorContent.beans" >
         <triggerPoints>
            <and>
               <instanceof
                     value="org.talend.repository.model.RepositoryNode">
               </instanceof>
               <or>
                  <test
                        forcePluginActivation="true"
                        property="org.talend.repository.node.route.isBeans">
                  </test>
                  <test
                        forcePluginActivation="true"
                        property="org.talend.repository.node.isCodeTopNode">
                  </test>
               </or>
            </and>
         </triggerPoints>
         <possibleChildren>
            <and>
               <instanceof
                     value="org.talend.repository.model.RepositoryNode">
               </instanceof>
               <test
                     forcePluginActivation="true"
                     property="org.talend.repository.node.route.isBeans">
               </test>
            </and>
         </possibleChildren>
         <actionProvider
               class="org.talend.repository.viewer.action.RepoNodeActionProvider"
               id="org.talend.repository.beans.action.provider.id">
            <enablement>
               <and>
                  <instanceof
                        value="org.talend.repository.model.RepositoryNode">
                  </instanceof>
                  <test
                        forcePluginActivation="true"
                        property="org.talend.repository.node.route.isBeans">
                  </test>
                  <not>
                     <test
                           forcePluginActivation="true"
                           property="org.talend.repository.node.isDeleted">
                     </test>
                  </not>
               </and>
            </enablement>
         </actionProvider>
      </navigatorContent>

   </extension>

   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.talend.repository.view.route.viewer.tester.RouteNodeTester"
            id="org.talend.repository.node.route.tester"
            namespace="org.talend.repository.node.route"
            properties="isRoutesTopNode,isBeans"
            type="org.talend.repository.model.RepositoryNode">
      </propertyTester>
   </extension>

   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="org.talend.repository.cnf.view">
         <includes>
            <contentExtension
                  pattern="org.talend.repository.view.route.*">
            </contentExtension>
            <contentExtension
                  pattern="org.talend.repository.route.action.*">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.talend.repository.view.repositorySorter">
      <sorter
            class="org.talend.repository.view.route.viewer.sorter.BeanCodeNodeSorter"
            description="After Routine (2)"
            id="org.talend.repository.view.route.bean.sorter"
            name="Bean Sorter"
            order="20">
      </sorter>
   </extension>



</plugin>
