<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.talend.core.components_provider">
		<ComponentsProvider
			id="org.talend.designer.esb.components.ws.provider.ComponentsProvider"
			class="org.talend.designer.esb.components.ws.provider.ComponentsProvider"
			folderName="components" />
	</extension>

	<extension point="org.talend.designer.codegen.additional_jetfile">
		<jetProvider
			id="org.talend.designer.esb.components.ws.provider.ESBJetFileProvider"
			class="org.talend.designer.esb.components.ws.provider.ESBJetFileProvider" />
	</extension>
 <extension
       point="org.talend.designer.core.check_nodes">
    <checknodes
          class="org.talend.designer.esb.components.ws.provider.validation.CheckESBProviderNodes">
    </checknodes>
 </extension>
</plugin>
