<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.talend.resources.export.projectsetting.ExportRouteServiceMavenScriptsPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         name="Route Karaf"
         point="org.talend.repository.projectsetting_page">
      <page
            category="projectsetting.MavenDefault"
            class="org.talend.resources.export.route.setting.project.RoutesKarafPomProjectSettingPage"
            description="Maven settings for Routes Karaf"
            id="projectsetting.RoutesKaraf"
            order="50"
            title="%ProjectSettingPage.RoutesKaraf">
      </page>
      <page
            category="projectsetting.RoutesKaraf"
            class="org.talend.resources.export.route.setting.project.RoutesKarafParentProjectSettingPage"
            description="Maven settings for parent pom of Routes Karaf "
            id="projectsetting.RoutesKaraf.ParentPom"
            order="10"
            title="%ProjectSettingPage.ParentPOM">
      </page>
      <page
            category="projectsetting.RoutesKaraf"
            class="org.talend.resources.export.route.setting.project.RoutesKarafBundleProjectSettingPage"
            description="Maven settings for Bundle pom of Routes Karaf "
            id="projectsetting.RoutesKaraf.BundlePom"
            order="20"
            title="%ProjectSettingPage.BundlePOM">
      </page>
      <page
            category="projectsetting.RoutesKaraf"
            class="org.talend.resources.export.route.setting.project.RoutesKarafFeatureProjectSettingPage"
            description="Maven settings for Feature pom of Routes Karaf "
            id="projectsetting.RoutesKaraf.FeaturePom"
            order="20"
            title="%ProjectSettingPage.FeaturePOM">
      </page>
   </extension>
   <extension
         name="Service Karaf"
         point="org.talend.repository.projectsetting_page">
      <page
            category="projectsetting.MavenDefault"
            class="org.talend.resources.export.service.setting.project.ServicesKarafPomProjectSettingPage"
            description="Maven settings for Services Karaf"
            id="projectsetting.ServicesKaraf"
            order="60"
            title="%ProjectSettingPage.ServicesKaraf">
      </page>
      <page
            category="projectsetting.ServicesKaraf"
            class="org.talend.resources.export.service.setting.project.ServicesKarafParentProjectSettingPage"
            description="Maven settings for parent pom of Services Karaf "
            id="projectsetting.ServicesKaraf.ParentPom"
            order="10"
            title="%ProjectSettingPage.ParentPOM">
      </page>
      <page
            category="projectsetting.ServicesKaraf"
            class="org.talend.resources.export.service.setting.project.ServicesKarafBundleProjectSettingPage"
            description="Maven settings for Bundle pom of Services Karaf "
            id="projectsetting.ServicesKaraf.BundlePom"
            order="20"
            title="%ProjectSettingPage.BundlePOM">
      </page>
      <page
            category="projectsetting.ServicesKaraf"
            class="org.talend.resources.export.service.setting.project.ServicesKarafFeatureProjectSettingPage"
            description="Maven settings for Feature pom of Services Karaf "
            id="projectsetting.ServicesKaraf.FeaturePom"
            order="30"
            title="%ProjectSettingPage.FeaturePOM">
      </page>
   </extension>
   <extension
         point="org.talend.designer.maven.mavenSetting">
      <ProjectSettingManager
            class="org.talend.resources.export.projectsetting.KarafProjectSettingManagerProvider">
      </ProjectSettingManager>
      <TemplateManager
            class="org.talend.resources.export.projectsetting.KarafMavenTemplateManager">
      </TemplateManager>
   </extension>
   <extension
         point="org.talend.designer.maven.ui.repositoryMavenSetting">
      <RepositoryMavenSetting
            class="org.talend.resources.export.route.setting.repository.RoutesKarafRepositoryMavenSetting"
            description="Config the Maven scripts for each folders in Repository view"
            name="Route Karaf Maven Settings"
            order="10">
         <SettingTester
               class="org.talend.resources.export.route.setting.repository.RoutesKarafRepositorySettingTester">
         </SettingTester>
      </RepositoryMavenSetting>
      <RepositoryMavenSetting
            class="org.talend.resources.export.service.setting.repository.ServiceKarafRepositoryMavenSetting"
            description="Config the Maven scripts for each folders in Repository view"
            name="Service Karaf Maven Settings"
            order="10">
         <SettingTester
               class="org.talend.resources.export.service.setting.repository.ServiceKarafRepositorySettingTester">
         </SettingTester>
      </RepositoryMavenSetting>
   </extension>
</plugin>
