<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.talend.core.components_provider">
		<ComponentsProvider
			id="org.talend.esb.tooling.component.provider.ESBComponentsProvider"
			class="org.talend.esb.tooling.component.provider.ESBComponentsProvider"
			folderName="tesb" />
	</extension>
	<extension point="org.talend.core.routines_provider">
		<RoutinesProvider
			class="org.talend.designer.esb.routines.provider.ESBRoutinesProviderCreator" />
	</extension>
	<extension point="org.talend.designer.codegen.additional_jetfile">
		<jetProvider
			id="org.talend.esb.tooling.component.provider.ESBJetFileProvider"
			class="org.talend.esb.tooling.component.provider.ESBJetFileProvider" />
	</extension>

	<extension point="org.talend.core.external_component">
		<ExternalComponent
			class="org.talend.designer.esb.webservice.WebServiceComponent" />
	</extension>
	<extension point="org.talend.core.runtime.service">
		<Service
			serviceId="IWebService"
			class="org.talend.designer.esb.webservice.ui.WebServiceHelper" />
	</extension>

	<extension point="org.talend.core.migrationTask">
		<projecttask
        beforeLogon="false"
        breaks="5.1.1"
        class="org.talend.designer.esb.webservice.migration.ConsumerFaultResponseMigrationTask"
        description="Add more fault response message migration task"
        id="org.talend.designer.esb.webservice.ConsumerFaultResponseMigrationTask"
        name="ConsumerFaultResponseMigrationTask"
        version="5.1.2"/>
		<projecttask
        beforeLogon="false"
        breaks="5.1.1"
        class="org.talend.designer.esb.webservice.migration.RestRequestWrongCallMigrationTask"
        description="Add more information to wrong call flow migration task"
        id="org.talend.designer.esb.webservice.RestRequestWrongCallMigrationTask"
        name="RestRequestWrongCallMigrationTask"
        version="5.1.2"/>
	</extension>

	<!-- TESB-3602 Remove ESB page
	<extension point="org.eclipse.ui.preferencePages">
		<page
			category="org.talend.core.prefs"
			class="org.talend.designer.esb.webservice.ui.EsbPreferencePage"
			id="org.talend.designer.esb"
			name="%preferencesPage.main">
		</page>
	</extension>
	-->
</plugin>
