<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.talend.camel.core.model.camelProperties.CamelPropertiesPackage"
            genModel="model/CamelProperties.genmodel"
            uri="http://www.talend.org/CamelProperties">
      </package>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated CamelProperties -->
      <parser
            type="camelproperties"
            class="org.talend.camel.core.model.camelProperties.util.CamelPropertiesResourceFactoryImpl"/>
   </extension>

    <extension point="org.talend.core.repository.repository_node_provider">
        <repositoryNode
              folder="routes"
              isResouce="true"
              key="Route"
              label="Routes"
              ordinal="20"
              products="DI"
              type="ROUTE"/>
        <repositoryNode
            folder="code/beans"
            isResouce="true"
            key="Bean"
            label="Beans"
            parentNodeType="CODE"
            products="DI"
            type="BEANS" />
    </extension>

</plugin>
