<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.talend.core.routines_provider">
      <RoutinesProvider
            class="org.talend.camel.libraries.CamelRoutineProviderCreator">
      </RoutinesProvider>
   </extension>
   <extension
         point="org.talend.core.systemRoutineLibrary">
   </extension>

</plugin>
