<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

 <extension
       point="org.talend.core.runtime.service">
    <Service
          class="org.talend.repository.services.ESBProviderService"
          serviceId="IESBProviderService">
    </Service>
 </extension>
 <extension
       point="org.talend.core.repositoryContextualsActions">
    <Action
          class="org.talend.repository.services.action.CreateESBAction"
          id="org.talend.repository.services.action.CreateESBAction"
          level="1"
          name="Metadata/Copy to Generic schema action">
    </Action>
    <Action
          class="org.talend.repository.services.action.OpenWSDLAction"
          id="org.talend.repository.services.action.OpenWSDLAction"
          level="1"
          name="open wsdl">
    </Action>
    <Action
          class="org.talend.repository.services.action.ServiceEditPropertiesAction"
          id="org.talend.repository.services.action.ServiceEditPropertiesAction"
          name="Edit Properties">
    </Action>
    <Action
          class="org.talend.repository.services.action.AssignJobAction"
          id="org.talend.repository.services.action.AssignJobAction"
          name="Assign Job">
    </Action>
    <Action
          class="org.talend.repository.services.action.CreateNewJobAction"
          id="org.talend.repository.services.action.CreateNewJobAction"
          name="Create New Job">
    </Action>
    <Action
          class="org.talend.repository.services.action.OpenWSDLEditorAction"
          id="org.talend.repository.services.action.OpenWSDLEditorAction"
          name="Open WSDL Editor">
    </Action>
 </extension>
 <extension
       point="org.talend.core.repository.repository_node_provider">
    <repositoryNode
          class="org.talend.repository.services.utils.ServiceExtendNode"
          folder="services"
          isResouce="true"
          label="Services"
          products="CAMEL|DI"
          type="SERVICES">
    </repositoryNode>
 </extension>
 <extension
       point="org.talend.core.repository.repository_content">
    <RepositoryContent
          class="org.talend.repository.services.utils.ESBRepositoryContentHandler">
    </RepositoryContent>
 </extension>
 <extension
       point="org.eclipse.ui.editors">
    <editor
          class="org.talend.repository.services.utils.LocalWSDLEditor"
          default="false"
          id="org.talend.repository.services.utils.LocalWSDLEditor"
          name="WSDLEditor">
    </editor>
 </extension>
</plugin>
