<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.talend.designer.camel.resource.RouteResourceCheck" name="Route Resource Check" schema="schema/routeResourceCheck.exsd"/>

   <extension point="org.talend.designer.camel.resource.RouteResourceCheck">
      <component componentName="cCXF">
         <resourceParameter parameterName="WSDL_FILE_REPO" />
      </component>
      <component componentName="cFlatPack">
         <resourceParameter parameterName="PZMAP_FILE_REPO" />
      </component>
   </extension>

   <extension
         point="org.talend.core.runtime.itemRelationship">
      <itemHandler
            class="org.talend.designer.camel.resource.handlers.ESBResourcesItemRelationshipHandler"
            id="org.talend.designer.camel.resource.itemHandler.resourceType"
            name="Resource Type">
      </itemHandler>
   </extension>

</plugin>
