<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.talend.core.repository.checkDeleteItemReference">
      <check
            class="org.talend.designer.camel.resource.delete.CheckRouteResourceDeleteReference"
            priority="normal">
      </check>
   </extension>

   <extension
         point="org.talend.core.runtime.itemRelationship">
      <itemHandler
            class="org.talend.designer.camel.resource.handler.ResourcesItemRelationshipHandler"
            id="org.talend.designer.camel.resource.itemHandler.resourceType"
            name="Resource Type">
      </itemHandler>
   </extension>

</plugin>
