<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension point="org.talend.core.components_provider">
        <ComponentsProvider
            class="org.talend.designer.camel.components.localprovider.CamelLocalComponentsProvider"
            folderName="components"
            id="org.talend.designer.camel.components.localprovider.CamelLocalComponentsProvider">
        </ComponentsProvider>
    </extension>
    <extension point="org.talend.core.runtime.service">
        <Service
            class="org.talend.designer.camel.components.localprovider.CamelLocalProviderService"
            serviceId="ILocalProviderService">
        </Service>
    </extension>
    <extension point="org.talend.core.external_component">
        <ExternalComponent
            class="org.talend.designer.esb.webservice.WebServiceNode">
        </ExternalComponent>
    </extension>

    <extension point="org.talend.designer.camel.dependencies.bundleClasspath">
        <classpath name="cMQConnectionFactory"
            parameter="${tesb-qpid-jms-client},${tesb-proton-j},${tesb-netty-buffer},${tesb-netty-common},${tesb-netty-handler},${tesb-netty-codec},${tesb-netty-transport},${tesb-netty-codec-http}">
            <predicate
                attributeName="MQ_TYPE"
                attributeValue="AMQP">
            </predicate>
        </classpath>
    </extension>

    <extension point="org.talend.core.runtime.librariesNeeded">

        <!-- ${tesb-commons-collections} -->
        <libraryNeeded context="plugin:org.talend.libraries.apache.common"
            name="commons-collections-3.2.2.jar"
            id="commons-collections"
            uripath="platform:/plugin/org.talend.libraries.apache.common/lib/commons-collections-3.2.2.jar"
            bundleID="" />
        <!-- ${tesb-commons-io} -->
        <libraryNeeded context="plugin:org.apache.commons.io"
            name="org.apache.commons.io_2.2.0.v201405211200.jar"
            id="commons-io"
            uripath="platform:/base/plugins/org.apache.commons.io_2.2.0.v201405211200.jar"
            bundleID="" />
        <!-- ${tesb-commons-pool} -->
        <libraryNeeded context="plugin:org.talend.libraries.apache.common"
            name="commons-pool-1.6.jar"
            id="commons-pool"
            uripath="platform:/plugin/org.talend.libraries.apache.common/lib/commons-pool-1.6.jar"
            bundleID="" />

        <libraryNeeded context="plugin:org.talend.designer.camel.components.localprovider"
            name="${tesb-activemq-all}"
            id="activemq-all"
            uripath="platform:/plugin/org.talend.designer.camel.components.localprovider/lib/${tesb-activemq-all}"
            bundleID="" />

        <libraryNeeded context="plugin:org.talend.designer.camel.components.localprovider"
            name="${tesb-camel-core}"
            id="camel-core"
            uripath="platform:/plugin/org.talend.designer.camel.components.localprovider/lib/${tesb-camel-core}"
            bundleID="" />
        <!--libraryNeeded context="plugin:org.talend.libraries.esb"
            name="${tesb-jaxb-impl}"
            id="jaxb-impl"
            uripath="platform:/plugin/org.talend.libraries.esb/lib/${tesb-jaxb-impl}"
            bundleID="" />
        <libraryNeeded context="plugin:org.talend.libraries.esb"
            name="${tesb-jaxb-core}"
            id="jaxb-core"
            uripath="platform:/plugin/org.talend.libraries.esb/lib/${tesb-jaxb-core}"
            bundleID="" /-->

        <libraryNeededGroup
                description="camel-core"
                id="camel-core"
                name="camel-core">
            <library id="camel-core" />
            <!-- TODO: library id="jaxb-impl" />
            <library id="jaxb-core" /-->
            <group id="slf4j" />
        </libraryNeededGroup>

        <libraryNeeded context="plugin:org.talend.designer.camel.components.localprovider"
            name="${tesb-camel-spring}"
            id="camel-spring"
            uripath="platform:/plugin/org.talend.designer.camel.components.localprovider/lib/${tesb-camel-spring}"
            bundleID="" />
        <libraryNeeded context="plugin:org.talend.designer.camel.components.localprovider"
            name="${tesb-camel-blueprint}"
            id="camel-blueprint"
            uripath="platform:/plugin/org.talend.designer.camel.components.localprovider/lib/${tesb-camel-blueprint}"
            bundleID="" />
        <libraryNeeded context="plugin:org.talend.designer.camel.components.localprovider"
            name="${tesb-spring-tx}"
            id="spring-tx"
            uripath="platform:/plugin/org.talend.designer.camel.components.localprovider/lib/${tesb-spring-tx}"
            bundleID="" />
        <!--libraryNeeded context="plugin:org.talend.designer.camel.components.localprovider"
            name="${tesb-spring-osgi-core}"
            id="spring-osgi-core"
            uripath="platform:/plugin/org.talend.designer.camel.components.localprovider/lib/${tesb-spring-osgi-core}"
            bundleID="" /-->
        <!--libraryNeeded context="plugin:org.eclipse.osgi"
            name="org.eclipse.osgi_3.10.1.v20140909-1633.jar"
            id="org.eclipse.osgi"
            uripath="platform:/base/plugins/org.eclipse.osgi_3.10.1.v20140909-1633.jar"
            bundleID="" /-->

        <libraryNeededGroup
                description="camel-spring"
                id="camel-spring"
                name="camel-spring">
            <library id="camel-spring" />
            <library id="camel-blueprint" />
            <group id="spring-context" />
            <library id="spring-tx" />
            <library id="spring-osgi-core" />
            <library id="org.eclipse.osgi" />
        </libraryNeededGroup>

        <libraryNeeded context="plugin:org.talend.designer.camel.components.localprovider"
            name="${tesb-camel-cxf}"
            id="camel-cxf"
            uripath="platform:/plugin/org.talend.designer.camel.components.localprovider/lib/${tesb-camel-cxf}"
            bundleID="" />
        <libraryNeeded context="plugin:org.talend.designer.camel.components.localprovider"
            name="${tesb-camel-cxf-transport}"
            id="camel-cxf-transport"
            uripath="platform:/plugin/org.talend.designer.camel.components.localprovider/lib/${tesb-camel-cxf-transport}"
            bundleID="" />
        <libraryNeeded context="plugin:org.talend.designer.camel.components.localprovider"
            name="${tesb-camel-http-common}"
            id="camel-http-common"
            uripath="platform:/plugin/org.talend.designer.camel.components.localprovider/lib/${tesb-camel-http-common}"
            bundleID="" />    

        <libraryNeededGroup
                description="camel-cxf"
                id="camel-cxf"
                name="camel-cxf">
            <library id="camel-cxf" />
            <library id="camel-cxf-transport" />
            <library id="camel-http-common" />
            <group id="cxf-core" />
            <group id="cxf-rt-frontend-jaxws" />
            <group id="cxf-rt-rs-client" />
            <group id="cxf-rt-transports-http-jetty" />
        </libraryNeededGroup>

        <libraryNeeded context="plugin:org.talend.designer.camel.components.localprovider"
            name="${tesb-camel-groovy}"
            id="camel-groovy"
            uripath="platform:/plugin/org.talend.designer.camel.components.localprovider/lib/${tesb-camel-groovy}"
            bundleID="" />
        <libraryNeeded context="plugin:org.talend.designer.camel.components.localprovider"
            name="${tesb-groovy-all}"
            id="groovy-all"
            uripath="platform:/plugin/org.talend.designer.camel.components.localprovider/lib/${tesb-groovy-all}"
            bundleID="" />

        <libraryNeededGroup
                description="camel-groovy"
                id="camel-groovy"
                name="camel-groovy">
            <library id="camel-groovy" />
            <library id="groovy-all" />
        </libraryNeededGroup>

        <libraryNeeded context="plugin:org.talend.designer.camel.components.localprovider"
            name="${tesb-camel-http}"
            id="camel-http"
            uripath="platform:/plugin/org.talend.designer.camel.components.localprovider/lib/${tesb-camel-http}"
            bundleID="" />
        <!-- ${tesb-commons-httpclient} -->
        <libraryNeeded context="plugin:org.apache.commons.httpclient"
            name="org.apache.commons.httpclient_3.1.0.v201012070820.jar"
            id="commons-httpclient"
            uripath="platform:/base/plugins/org.apache.commons.httpclient_3.1.0.v201012070820.jar"
            bundleID="" />
        <libraryNeeded context="plugin:org.talend.designer.camel.components.localprovider"
			name="${tesb-camel-http-common}"
			id="camel-http-common"
			uripath="platform:/plugin/org.talend.designer.camel.components.localprovider/lib/${tesb-camel-http-common}"
			bundleID="" />
        <!-- ${tesb-commons-codec} -->
        <!--libraryNeeded context="plugin:org.apache.commons.codec"
            name="org.apache.commons.codec_1.6.0.v201305230611.jar"
            id="commons-codec"
            uripath="platform:/base/plugins/org.apache.commons.codec_1.6.0.v201305230611.jar"
            bundleID="" /-->

        <libraryNeededGroup
                description="camel-http"
                id="camel-http"
                name="camel-http">
            <library id="camel-http" />
            <library id="javax.servlet-api" />
            <library id="commons-httpclient" />
            <library id="commons-logging" />
            <library id="commons-codec" />
            <library id="camel-http-common" />
        </libraryNeededGroup>

        <libraryNeeded context="plugin:org.talend.designer.camel.components.localprovider"
            name="${tesb-camel-jms}"
            id="camel-jms"
            uripath="platform:/plugin/org.talend.designer.camel.components.localprovider/lib/${tesb-camel-jms}"
            bundleID="" />
        <libraryNeeded context="plugin:org.talend.designer.camel.components.localprovider"
            name="${tesb-geronimo-jms_1.1_spec}"
            id="geronimo-jms_1.1_spec"
            uripath="platform:/plugin/org.talend.designer.camel.components.localprovider/lib/${tesb-geronimo-jms_1.1_spec}"
            bundleID="" />
        <libraryNeeded context="plugin:org.talend.designer.camel.components.localprovider"
            name="${tesb-spring-jms}"
            id="spring-jms"
            uripath="platform:/plugin/org.talend.designer.camel.components.localprovider/lib/${tesb-spring-jms}"
            bundleID="" />
        <libraryNeeded context="plugin:org.talend.designer.camel.components.localprovider"
            name="${tesb-spring-messaging}"
            id="spring-messaging"
            uripath="platform:/plugin/org.talend.designer.camel.components.localprovider/lib/${tesb-spring-messaging}"
            bundleID="" />
        <libraryNeeded context="plugin:org.talend.designer.camel.components.localprovider"
            name="${tesb-commons-pool2}"
            id="commons-pool2"
            uripath="platform:/plugin/org.talend.designer.camel.components.localprovider/lib/${tesb-commons-pool2}"
            bundleID="" />

        <libraryNeededGroup
                description="camel-jms"
                id="camel-jms"
                name="camel-jms">
            <library id="camel-jms" />
            <library id="geronimo-jms_1.1_spec" />
            <library id="spring-jms" />
            <library id="spring-messaging" />
            <library id="commons-pool2" />
        </libraryNeededGroup>

        <libraryNeeded context="plugin:org.talend.designer.camel.components.localprovider"
            name="${tesb-camel-amqp}"
            id="camel-amqp"
            uripath="platform:/plugin/org.talend.designer.camel.components.localprovider/lib/${tesb-camel-amqp}"
            bundleID="" />
        <libraryNeeded context="plugin:org.talend.designer.camel.components.localprovider"
            name="${tesb-qpid-jms-client}"
            id="qpid-jms-client"
            uripath="platform:/plugin/org.talend.designer.camel.components.localprovider/lib/${tesb-qpid-jms-client}"
            bundleID="" />
        <libraryNeeded context="plugin:org.talend.designer.camel.components.localprovider"
            name="${tesb-proton-j}"
            id="proton-j"
            uripath="platform:/plugin/org.talend.designer.camel.components.localprovider/lib/${tesb-proton-j}"
            bundleID="" />
        <libraryNeeded context="plugin:org.talend.designer.camel.components.localprovider"
            name="${tesb-netty-buffer}"
            id="netty-buffer"
            uripath="platform:/plugin/org.talend.designer.camel.components.localprovider/lib/${tesb-netty-buffer}"
            bundleID="" />
        <libraryNeeded context="plugin:org.talend.designer.camel.components.localprovider"
            name="${tesb-netty-common}"
            id="netty-common"
            uripath="platform:/plugin/org.talend.designer.camel.components.localprovider/lib/${tesb-netty-common}"
            bundleID="" />
        <libraryNeeded context="plugin:org.talend.designer.camel.components.localprovider"
            name="${tesb-netty-handler}"
            id="netty-handler"
            uripath="platform:/plugin/org.talend.designer.camel.components.localprovider/lib/${tesb-netty-handler}"
            bundleID="" />
        <libraryNeeded context="plugin:org.talend.designer.camel.components.localprovider"
            name="${tesb-netty-codec}"
            id="netty-codec"
            uripath="platform:/plugin/org.talend.designer.camel.components.localprovider/lib/${tesb-netty-codec}"
            bundleID="" />
        <libraryNeeded context="plugin:org.talend.designer.camel.components.localprovider"
            name="${tesb-netty-transport}"
            id="netty-transport"
            uripath="platform:/plugin/org.talend.designer.camel.components.localprovider/lib/${tesb-netty-transport}"
            bundleID="" />
        <libraryNeeded context="plugin:org.talend.designer.camel.components.localprovider"
            name="${tesb-netty-codec-http}"
            id="netty-codec-http"
            uripath="platform:/plugin/org.talend.designer.camel.components.localprovider/lib/${tesb-netty-codec-http}"
            bundleID="" />

        <libraryNeededGroup
                description="camel-amqp"
                id="camel-amqp"
                name="camel-amqp">
            <group id="camel-jms" />
            <library id="camel-amqp" />
            <library id="qpid-jms-client" />
            <library id="proton-j" />
            <library id="netty-buffer" />
            <library id="netty-common" />
            <library id="netty-handler" />
            <library id="netty-codec" />
            <library id="netty-transport" />
            <library id="netty-codec-http" />
        </libraryNeededGroup>

        <libraryNeeded context="plugin:org.talend.designer.camel.components.localprovider"
            name="${tesb-camel-mqtt}"
            id="camel-mqtt"
            uripath="platform:/plugin/org.talend.designer.camel.components.localprovider/lib/${tesb-camel-mqtt}"
            bundleID="" />
        <libraryNeeded context="plugin:org.talend.designer.camel.components.localprovider"
            name="${tesb-mqtt-client}"
            id="mqtt-client"
            uripath="platform:/plugin/org.talend.designer.camel.components.localprovider/lib/${tesb-mqtt-client}"
            bundleID="" />
        <libraryNeeded context="plugin:org.talend.designer.camel.components.localprovider"
            name="${tesb-hawtdispatch-transport}"
            id="hawtdispatch-transport"
            uripath="platform:/plugin/org.talend.designer.camel.components.localprovider/lib/${tesb-hawtdispatch-transport}"
            bundleID="" />
        <libraryNeeded context="plugin:org.talend.designer.camel.components.localprovider"
            name="${tesb-hawtdispatch}"
            id="hawtdispatch"
            uripath="platform:/plugin/org.talend.designer.camel.components.localprovider/lib/${tesb-hawtdispatch}"
            bundleID="" />
        <libraryNeeded context="plugin:org.talend.designer.camel.components.localprovider"
            name="${tesb-hawtbuf}"
            id="hawtbuf"
            uripath="platform:/plugin/org.talend.designer.camel.components.localprovider/lib/${tesb-hawtbuf}"
            bundleID="" />

        <libraryNeededGroup
                description="camel-mqtt"
                id="camel-mqtt"
                name="camel-mqtt">
            <library id="camel-mqtt" />
            <library id="mqtt-client" />
            <library id="hawtdispatch-transport" />
            <library id="hawtdispatch" />
            <library id="hawtbuf" />
        </libraryNeededGroup>

        <libraryNeeded context="plugin:org.talend.designer.camel.components.localprovider"
            name="${tesb-camel-mail}"
            id="camel-mail"
            uripath="platform:/plugin/org.talend.designer.camel.components.localprovider/lib/${tesb-camel-mail}"
            bundleID="" />
        <!-- ${tesb-mail} -->
        <libraryNeeded context="plugin:org.talend.designer.camel.components.localprovider"
            name="${tesb-mail}"
            id="javax.mail"
            uripath="platform:/plugin/org.talend.designer.camel.components.localprovider/lib/${tesb-mail}"
            bundleID="" />

        <libraryNeededGroup
                description="camel-mail"
                id="camel-mail"
                name="camel-mail">
            <library id="camel-mail" />
            <library id="javax.mail" />
        </libraryNeededGroup>

        <libraryNeeded context="plugin:org.talend.designer.camel.components.localprovider"
            name="${tesb-camel-servlet}"
            id="camel-servlet"
            uripath="platform:/plugin/org.talend.designer.camel.components.localprovider/lib/${tesb-camel-servlet}"
            bundleID="" />

        <libraryNeededGroup
                description="camel-servlet"
                id="camel-servlet"
                name="camel-servlet">
            <library id="camel-servlet" />
            <group id="camel-http" />
        </libraryNeededGroup>

        <libraryNeeded context="plugin:org.talend.designer.camel.components.localprovider"
            name="${tesb-camel-jetty}"
            id="camel-jetty"
            uripath="platform:/plugin/org.talend.designer.camel.components.localprovider/lib/${tesb-camel-jetty}"
            bundleID="" />
        <libraryNeeded context="plugin:org.talend.designer.camel.components.localprovider"
            name="${tesb-camel-jetty-common}"
            id="camel-jetty-common"
            uripath="platform:/plugin/org.talend.designer.camel.components.localprovider/lib/${tesb-camel-jetty-common}"
            bundleID="" />
        <libraryNeeded context="plugin:org.talend.designer.camel.components.localprovider"
            name="${tesb-camel-jetty9}"
            id="camel-jetty9"
            uripath="platform:/plugin/org.talend.designer.camel.components.localprovider/lib/${tesb-camel-jetty9}"
            bundleID="" />

        <libraryNeededGroup
                description="camel-jetty"
                id="camel-jetty"
                name="camel-jetty">
            <library id="camel-jetty" />
            <library id="camel-jetty-common" />
            <library id="camel-jetty9" />
            <library id="camel-http" />
            <library id="camel-http-common" />
            <library id="jetty-all" />
        </libraryNeededGroup>
        
        <libraryNeeded context="plugin:org.talend.libraries.esb"
            name="${tesb-jetty-all}"
            id="jetty-all"
            uripath="platform:/plugin/org.talend.designer.camel.components.localprovider/lib/${tesb-jetty-all}"
            bundleID="" />

       <libraryNeeded context="plugin:javax.servlet"
            name="${tesb-javax.servlet-api}"
            id="javax.servlet-api"
            uripath="platform:/plugin/org.talend.designer.camel.components.localprovider/lib/${tesb-javax.servlet-api}"
            bundleID="" />

        <libraryNeeded context="plugin:org.talend.designer.camel.components.localprovider"
            name="${tesb-camel-xstream}"
            id="camel-xstream"
            uripath="platform:/plugin/org.talend.designer.camel.components.localprovider/lib/${tesb-camel-xstream}"
            bundleID="" />
        <libraryNeeded context="plugin:org.talend.designer.camel.components.localprovider"
            name="${tesb-xstream}"
            id="xstream"
            uripath="platform:/plugin/org.talend.designer.camel.components.localprovider/lib/${tesb-xstream}"
            bundleID="" />
        <libraryNeeded context="plugin:org.talend.designer.camel.components.localprovider"
            name="${tesb-xpp3}"
            id="xpp3"
            uripath="platform:/plugin/org.talend.designer.camel.components.localprovider/lib/${tesb-xpp3}"
            bundleID="" />

        <libraryNeededGroup
                description="camel-xstream"
                id="camel-xstream"
                name="camel-xstream">
            <library id="camel-xstream" />
            <library id="xstream" />
            <library id="xpp3" />
            <library id="stax-api" />
            <library id="jettison" />
            <library id="woodstox-core-asl" />
            <library id="stax2-api" />
        </libraryNeededGroup>

        <libraryNeeded context="plugin:org.talend.designer.camel.components.localprovider"
            name="${tesb-camel-ftp}"
            id="camel-ftp"
            uripath="platform:/plugin/org.talend.designer.camel.components.localprovider/lib/${tesb-camel-ftp}"
            bundleID="" />
        <libraryNeeded context="plugin:org.talend.designer.camel.components.localprovider"
            name="camel-${tesb-jsch}"
            id="jsch"
            uripath="platform:/plugin/org.talend.designer.camel.components.localprovider/lib/${tesb-jsch}"
            bundleID="" />
        <libraryNeeded context="plugin:org.talend.designer.camel.components.localprovider"
            name="${tesb-commons-net}"
            id="commons-net"
            uripath="platform:/plugin/org.talend.designer.camel.components.localprovider/lib/${tesb-commons-net}"
            bundleID="" />

        <libraryNeededGroup
                description="camel-ftp"
                id="camel-ftp"
                name="camel-ftp">
            <library id="camel-ftp" />
            <library id="jsch" />
            <library id="commons-net" />
        </libraryNeededGroup>

        <libraryNeeded context="plugin:org.talend.designer.camel.components.localprovider"
            name="${tesb-camel-flatpack}"
            id="camel-flatpack"
            uripath="platform:/plugin/org.talend.designer.camel.components.localprovider/lib/${tesb-camel-flatpack}"
            bundleID="" />
        <libraryNeeded context="plugin:org.talend.designer.camel.components.localprovider"
            name="${tesb-flatpack}"
            id="flatpack"
            uripath="platform:/plugin/org.talend.designer.camel.components.localprovider/lib/${tesb-flatpack}"
            bundleID="" />
        <libraryNeeded context="plugin:org.talend.designer.camel.components.localprovider"
            name="${tesb-jdom}"
            id="jdom"
            uripath="platform:/plugin/org.talend.designer.camel.components.localprovider/lib/${tesb-jdom}"
            bundleID="" />

        <libraryNeededGroup
                description="camel-flatpack"
                id="camel-flatpack"
                name="camel-flatpack">
            <library id="camel-flatpack" />
            <library id="flatpack" />
            <library id="jdom" />
        </libraryNeededGroup>

        <libraryNeededGroup
              description="camel-test"
              id="camel-test"
              name="camel-test">
           <library
                 id="camel-test-spring">
           </library>
           <library
                 id="camel-test">
           </library>
           <library
                 id="spring-test">
           </library>       
           <library
                 id="jaxb-impl">
           </library>  
           <library
                 id="jaxb-core">
           </library>
           <library
                 id="camel-spring">
           </library>
           <library
                 id="commons-logging">
           </library>
           <library
                 id="junit.jar">
           </library>
           <library
                 id="org.hamcrest.core_1.3.0.v201303031735.jar">
           </library>                                       
        </libraryNeededGroup>
        <libraryNeeded
              context="plugin:org.talend.designer.camel.components.localprovider"
              id="camel-test-spring"
              name="${tesb-camel-test-spring}"
              uripath="platform:/plugin/org.talend.designer.camel.components.localprovider/lib/${tesb-camel-test-spring}">
        </libraryNeeded>
        <libraryNeeded
              context="plugin:org.talend.designer.camel.components.localprovider"
              id="camel-test"
              name="${tesb-camel-test}"
              uripath="platform:/plugin/org.talend.designer.camel.components.localprovider/lib/${tesb-camel-test}">
        </libraryNeeded>
        <libraryNeeded
              context="plugin:org.talend.designer.camel.components.localprovider"
              id="spring-test"
              name="${tesb-spring-test}"
              uripath="platform:/plugin/org.talend.designer.camel.components.localprovider/lib/${tesb-spring-test}">
        </libraryNeeded>
        <libraryNeeded context="plugin:org.talend.libraries.esb"
            name="jaxb-impl-2.2.11.jar"
            id="jaxb-impl"
            uripath="platform:/plugin/org.talend.libraries.esb/lib/jaxb-impl-2.2.11.jar"
            bundleID="" />
        <libraryNeeded context="plugin:org.talend.libraries.esb"
            name="jaxb-core-2.2.11.jar"
            id="jaxb-core"
            uripath="platform:/plugin/org.talend.libraries.esb/lib/jaxb-core-2.2.11.jar"
            bundleID="" />
        <!-- slf4j-api-1.7.12.jar -->
        <libraryNeeded context="plugin:org.talend.libraries.slf4j"
            name="slf4j-api-1.7.5.jar"
            id="slf4j-api"
            uripath="platform:/plugin/org.talend.libraries.slf4j/lib/slf4j-api-1.7.5.jar"
            bundleID="" />
        <!-- aws s3 -->
        <libraryNeeded context="plugin:org.talend.designer.camel.components.localprovider"
            name="${tesb-aws-java-sdk-s3}"
            id="aws-java-sdk-s3"
            uripath="platform:/plugin/org.talend.designer.camel.components.localprovider/lib/${tesb-aws-java-sdk-s3}"
            bundleID="" />
        
        <libraryNeeded context="plugin:org.talend.designer.camel.components.localprovider"
            name="${tesb-aws-java-sdk-kms}"
            id="aws-java-sdk-kms"
            uripath="platform:/plugin/org.talend.designer.camel.components.localprovider/lib/${tesb-aws-java-sdk-kms}"
            bundleID="" />
            
        <libraryNeeded context="plugin:org.talend.designer.camel.components.localprovider"
            name="${tesb-aws-java-sdk-kinesis}"
            id="aws-java-sdk-kinesis"
            uripath="platform:/plugin/org.talend.designer.camel.components.localprovider/lib/${tesb-aws-java-sdk-kinesis}"
            bundleID="" />
            
        <libraryNeeded context="plugin:org.talend.designer.camel.components.localprovider"
            name="${tesb-aws-java-sdk-cloudfront}"
            id="aws-java-sdk-cloudfront"
            uripath="platform:/plugin/org.talend.designer.camel.components.localprovider/lib/${tesb-aws-java-sdk-cloudfront}"
            bundleID="" />
            
        <libraryNeeded context="plugin:org.talend.designer.camel.components.localprovider"
            name="${tesb-aws-java-sdk-core}"
            id="aws-java-sdk-core"
            uripath="platform:/plugin/org.talend.designer.camel.components.localprovider/lib/${tesb-aws-java-sdk-core}"
            bundleID="" />
        <libraryNeeded
              context="plugin:org.talend.designer.camel.components.localprovider"
              id="aws-java-sdk-sqs"
              name="${tesb-aws-java-sdk-sqs}"
              uripath="platform:/plugin/org.talend.designer.camel.components.localprovider/lib/${tesb-aws-java-sdk-sqs}" bundleID="">
        </libraryNeeded>
        <libraryNeeded
              context="plugin:org.talend.designer.camel.components.localprovider"
              id="aws-java-sdk-sns"
              name="${tesb-aws-java-sdk-sns}"
              uripath="platform:/plugin/org.talend.designer.camel.components.localprovider/lib/${tesb-aws-java-sdk-sns}" bundleID="">
        </libraryNeeded>
            
        
        <libraryNeeded context="plugin:org.talend.designer.camel.components.localprovider"
            name="${tesb-camel-aws}"
            id="camel-aws"
            uripath="platform:/plugin/org.talend.designer.camel.components.localprovider/lib/${tesb-camel-aws}"
            bundleID="" />

        <libraryNeededGroup
                description="camel-aws-s3"
                id="camel-aws-s3"
                name="camel-aws-s3">
            <library id="camel-aws" />
            <library id="aws-java-sdk-core" />
            <library id="aws-java-sdk-kms" />
            <library id="aws-java-sdk-kinesis" />
            <library id="aws-java-sdk-cloudfront" />
            <library id="aws-java-sdk-s3" />
        </libraryNeededGroup>

        <libraryNeeded context="plugin:org.talend.designer.camel.components.localprovider"
            name="${tesb-aws-java-sdk-ses}"
            id="aws-java-sdk-ses"
            uripath="platform:/plugin/org.talend.designer.camel.components.localprovider/lib/${tesb-aws-java-sdk-ses}"
            bundleID="" />
            
        <libraryNeededGroup
                description="jackson-providers"
                id="jackson-providers"
                name="jackson-providers">
            <library id="aws-jackson-core"/>
            <library id="aws-jackson-annotations"/>
			<library id="aws-jackson-databind"/>
			<library id="jackson-jackson-databind"/>
            <library id="jackson-dataformat-xml" />
            <library id="jackson-jaxrs-base" />
            <library id="jackson-jaxrs-json-provider" />
            <library id="jackson-jaxrs-xml-provider" />
            <library id="jackson-module-jaxb-annotations" />
        </libraryNeededGroup>
        
        <libraryNeeded
              context="plugin:org.talend.designer.camel.components.localprovider"
              id="jackson-jaxrs-json-provider"
              name="${tesb-jackson-jaxrs-json-provider}"
              uripath="platform:/plugin/org.talend.designer.camel.components.localprovider/lib/${tesb-jackson-jaxrs-json-provider}">
        </libraryNeeded>
        
        <libraryNeeded
              context="plugin:org.talend.designer.camel.components.localprovider"
              id="jackson-jaxrs-xml-provider"
              name="${tesb-jackson-jaxrs-xml-provider}"
              uripath="platform:/plugin/org.talend.designer.camel.components.localprovider/lib/${tesb-jackson-jaxrs-xml-provider}">
        </libraryNeeded>
        
        <libraryNeeded
              context="plugin:org.talend.designer.camel.components.localprovider"
              id="jackson-jaxrs-base"
              name="${tesb-jackson-jaxrs-base}"
              uripath="platform:/plugin/org.talend.designer.camel.components.localprovider/lib/${tesb-jackson-jaxrs-base}">
        </libraryNeeded>
        
        <libraryNeeded
              context="plugin:org.talend.designer.camel.components.localprovider"
              id="jackson-dataformat-xml"
              name="${tesb-jackson-dataformat-xml}"
              uripath="platform:/plugin/org.talend.designer.camel.components.localprovider/lib/${tesb-jackson-dataformat-xml}">
        </libraryNeeded>
        
        <libraryNeeded
              context="plugin:org.talend.designer.camel.components.localprovider"
              id="jackson-module-jaxb-annotations"
              name="${tesb-jackson-module-jaxb-annotations}"
              uripath="platform:/plugin/org.talend.designer.camel.components.localprovider/lib/${tesb-jackson-module-jaxb-annotations}">
        </libraryNeeded>
        
        <libraryNeededGroup
            description="camel-aws-ses"
            id="camel-aws-ses"
            name="camel-aws-ses">
            <library id="camel-aws" />
            <library id="aws-java-sdk-core" />
            <library id="aws-java-sdk-kinesis" />
            <library id="aws-java-sdk-ses" />
            <library id="javax.mail" />
        </libraryNeededGroup>
        <libraryNeededGroup
              description="camel-aws-connection"
              id="camel-aws-connection"
              name="camel-aws-connection">
           <library
                 id="camel-aws">
           </library>
           <library
                 id="aws-java-sdk-core">
           </library>
           <library
                 id="aws-java-sdk-kinesis">
           </library>
        </libraryNeededGroup>
        <libraryNeededGroup
              description="camel-aws-sqs"
              id="camel-aws-sqs"
              name="camel-aws-sqs">
           <library
                 id="camel-aws">
           </library>
           <library
                 id="aws-java-sdk-core">
           </library>
           <library
                 id="aws-java-sdk-sqs">
           </library>
           <library
                 id="aws-java-sdk-kinesis">
           </library>
        </libraryNeededGroup>
        <libraryNeededGroup
              description="camel-aws-sns"
              id="camel-aws-sns"
              name="camel-aws-sns">
           <library
                 id="camel-aws">
           </library>
           <library
                 id="aws-java-sdk-core">
           </library>
           <library
                 id="aws-java-sdk-sns">
           </library>
           <library
                 id="aws-java-sdk-kinesis">
           </library>
        </libraryNeededGroup>
        <libraryNeededGroup
              description="camel-hawtdb-alldep"
              id="camel-hawtdb-alldep"
              name="camel-hawtdb-alldep">
           <library
                 id="camel-hawtdb">
           </library>
           <library
                 id="hawtdb">
           </library>
           <library
                 id="hawtbuf">
           </library>
        </libraryNeededGroup>
        <libraryNeeded
              context="plugin:org.talend.designer.camel.components.localprovider"
              id="camel-hawtdb"
              name="${tesb-camel-hawtdb}"
              uripath="platform:/plugin/org.talend.designer.camel.components.localprovider/lib/${tesb-camel-hawtdb}">
        </libraryNeeded>
        <libraryNeeded
              context="plugin:org.talend.designer.camel.components.localprovider"
              id="hawtdb"
              name="${tesb-hawtdb}"
              uripath="platform:/plugin/org.talend.designer.camel.components.localprovider/lib/${tesb-hawtdb}">
        </libraryNeeded>
        
		<libraryNeeded context="plugin:org.talend.libraries.esb"
			name="jackson-annotations-${jackson.version}.jar"
			id="aws-jackson-annotations"
			uripath="platform:/plugin/org.talend.libraries.esb/lib/jackson-annotations-${jackson.version}.jar"
			bundleID="" />

		<libraryNeeded context="plugin:org.talend.libraries.esb"
			name="jackson-core-${jackson.version}.jar"
			id="aws-jackson-core"
			uripath="platform:/plugin/org.talend.libraries.esb/lib/jackson-core-${jackson.version}.jar"
			bundleID="" />
			
		<libraryNeeded context="plugin:org.talend.libraries.esb"
			name="jackson-databind-${jackson.version}.jar"
			id="aws-jackson-databind"
			uripath="platform:/plugin/org.talend.libraries.esb/lib/jackson-databind-${jackson.version}.jar"
			bundleID="" />
        
        <libraryNeededGroup
              description="aws-jackson"
              id="aws-jackson"
              name="aws-jackson">
           <library
                 id="aws-jackson-annotations">
           </library>
           <library
                 id="aws-jackson-core">
           </library>
           <library
                 id="aws-jackson-databind">
           </library>
        </libraryNeededGroup>

        <libraryNeededGroup
              description="camel-jsonpath-alldep"
              id="camel-jsonpath-alldep"
              name="camel-jsonpath-alldep">
           <library
                 id="camel-jsonpath">
           </library>
           <library
                 id="json-path">
           </library>
           <library
                 id="json-smart">
           </library>
           <library
                 id="accessors-smart">
           </library>
           <library
                 id="asm">
           </library>
        </libraryNeededGroup>
        <libraryNeeded
              context="plugin:org.talend.designer.camel.components.localprovider"
              id="camel-jsonpath"
              name="${tesb-camel-jsonpath}"
              uripath="platform:/plugin/org.talend.designer.camel.components.localprovider/lib/${tesb-camel-jsonpath}">
        </libraryNeeded>
        <libraryNeeded
              context="plugin:org.talend.designer.camel.components.localprovider"
              id="json-path"
              name="${tesb-json-path}"
              uripath="platform:/plugin/org.talend.designer.camel.components.localprovider/lib/${tesb-json-path}">
        </libraryNeeded>
        <libraryNeeded
              context="plugin:org.talend.designer.camel.components.localprovider"
              id="json-smart"
              name="${tesb-json-smart}"
              uripath="platform:/plugin/org.talend.designer.camel.components.localprovider/lib/${tesb-json-smart}">
        </libraryNeeded>
        <libraryNeeded
              context="plugin:org.talend.designer.camel.components.localprovider"
              id="accessors-smart"
              name="${tesb-accessors-smart}"
              uripath="platform:/plugin/org.talend.designer.camel.components.localprovider/lib/${tesb-accessors-smart}">
        </libraryNeeded>
        <libraryNeeded
              context="plugin:org.talend.designer.camel.components.localprovider"
              id="asm"
              name="${tesb-asm}"
              uripath="platform:/plugin/org.talend.designer.camel.components.localprovider/lib/${tesb-asm}">
        </libraryNeeded>

        <libraryNeededGroup
              description="camel-saxon-alldep"
              id="camel-saxon-alldep"
              name="camel-saxon-alldep">
           <library
                 id="camel-saxon">
           </library>
           <library
                 id="org.apache.servicemix.bundles.saxon">
           </library>
        </libraryNeededGroup>
        <libraryNeeded
              context="plugin:org.talend.designer.camel.components.localprovider"
              id="camel-saxon"
              name="${tesb-camel-saxon}"
              uripath="platform:/plugin/org.talend.designer.camel.components.localprovider/lib/${tesb-camel-saxon}">
        </libraryNeeded>
        <libraryNeeded
              context="plugin:org.talend.designer.camel.components.localprovider"
              id="org.apache.servicemix.bundles.saxon"
              name="${tesb-org.apache.servicemix.bundles.saxon}"
              uripath="platform:/plugin/org.talend.designer.camel.components.localprovider/lib/${tesb-org.apache.servicemix.bundles.saxon}"
			  bundleID="" />
        
        <libraryNeededGroup
              description="camel-kafka-alldep"
              id="camel-kafka-alldep"
              name="camel-kafka-alldep">
           <library
                 id="camel-kafka">
           </library>
           <library
                 id="kafka-clients">
           </library>
           <library
                 id="snappy-java">
           </library>
           <library
                 id="lz4">
           </library>
        </libraryNeededGroup>
        <libraryNeeded
              context="plugin:org.talend.designer.camel.components.localprovider"
              id="camel-kafka"
              name="${tesb-camel-kafka}"
              uripath="platform:/plugin/org.talend.designer.camel.components.localprovider/lib/${tesb-camel-kafka}">
        </libraryNeeded>
        <libraryNeeded
              context="plugin:org.talend.designer.camel.components.localprovider"
              id="kafka-clients"
              name="${tesb-kafka-clients}"
              uripath="platform:/plugin/org.talend.designer.camel.components.localprovider/lib/${tesb-kafka-clients}">
        </libraryNeeded>
        <libraryNeeded
              context="plugin:org.talend.designer.camel.components.localprovider"
              id="snappy-java"
              name="${tesb-snappy-java}"
              uripath="platform:/plugin/org.talend.designer.camel.components.localprovider/lib/${tesb-snappy-java}">
        </libraryNeeded>
        <libraryNeeded
              context="plugin:org.talend.designer.camel.components.localprovider"
              id="lz4"
              name="${tesb-lz4}"
              uripath="platform:/plugin/org.talend.designer.camel.components.localprovider/lib/${tesb-lz4}">
        </libraryNeeded>
        <libraryNeededGroup
              description="camel-talendjob-alldep"
              id="camel-talendjob-alldep"
              name="camel-talendjob-alldep">
           <library
                 id="camel-talendjob">
           </library>
        </libraryNeededGroup>
        <libraryNeeded
              context="plugin:org.talend.libraries.esb"
              id="camel-talendjob"
              name="${tesb-camel-talendjob}"
              uripath="platform:/plugin/org.talend.libraries.esb/lib/${tesb-camel-talendjob}">
        </libraryNeeded>
    </extension>
</plugin>
