<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension point="org.talend.core.runtime.service">
		<Service
				class="org.talend.repository.services.ESBService"
				serviceId="IESBService" />
	</extension>

	<extension point="org.talend.core.repositoryContextualsActions">
		<Action
				id="org.talend.repository.services.action.CreateESBAction"
				class="org.talend.repository.services.action.CreateESBAction"
				level="1"
				name="Create Service" />

		<!-- service actions -->
		<Action
        class="org.talend.repository.services.action.OpenWSDLEditorAction"
        id="org.talend.repository.services.action.OpenWSDLEditorAction"
        isEditAction="true"
        level="1"
        name="Open WSDL Editor"/>
		<Action
        class="org.talend.repository.services.action.OpenWSDLAction"
        id="org.talend.repository.services.action.OpenWSDLAction"
        isEditAction="true"
        level="2"
        name="Assign WSDL"/>
		<Action
        class="org.talend.repository.services.action.PublishMetadataAction"
        id="org.talend.repository.services.action.PublishMetadataAction"
        isEditAction="true"
        level="3"
        name="Import WSDL Schemas"/>
		<Action
        class="org.talend.repository.services.action.ServiceMetadataAction"
        id="org.talend.repository.services.action.ServiceMetadataAction"
        isPropertiesAction="true"
        level="4"
        name="ESB Runtime Options"/>
		<Action
				id="org.talend.repository.services.action.ExportServiceAction"
				class="org.talend.repository.services.action.ExportServiceAction"
				level="5"
				name="Export Service" />

		<Action
        class="org.talend.repository.services.action.ServiceEditPropertiesAction"
        id="org.talend.repository.services.action.ServiceEditPropertiesAction"
        isPropertiesAction="true"
        name="Edit Properties"/>

		<!-- service operation actions -->
		<Action
				id="org.talend.repository.services.action.AssignJobAction"
				class="org.talend.repository.services.action.NewAssignJobAction"
				name="Assign Job" />
		<!--<Action
				id="org.talend.repository.services.action.CreateNewJobAction"
				class="org.talend.repository.services.action.CreateNewJobAction"
				name="Create New Job" /> -->
		<Action
				id="org.talend.repository.services.action.OpenJobAction"
				class="org.talend.repository.services.action.OpenJobAction"
				name="Open Assigned Job" />
	</extension>

	<extension point="org.talend.core.repository.repository_node_provider">
		<repositoryNode
        folder="services"
        icon="icons/services.png"
        isResouce="true"
        key="Services"
        label="%NavigatorContent.services"
        ordinal="30"
        products="DI"
        type="SERVICES"/>
	</extension>
	<extension point="org.talend.core.repository.repository_content">
		<RepositoryContent
				class="org.talend.repository.services.utils.ESBRepositoryContentHandler">
		</RepositoryContent>
	</extension>

	<extension point="org.eclipse.ui.editors">
		<editor
				id="org.talend.repository.services.utils.LocalWSDLEditor"
				class="org.talend.repository.services.utils.LocalWSDLEditor"
				name="WSDLEditor"
				default="false" />
	</extension>

	<extension point="org.eclipse.ui.navigator.navigatorContent">
		<navigatorContent
				id="org.talend.repository.viewer.root.services"
				activeByDefault="true"
				appearsBefore="org.talend.repository.viewer.root.contexts"
				contentProvider="org.talend.repository.services.ui.viewer.content.ServicesContentProvider"
				labelProvider="org.talend.repository.viewer.label.RepositoryViewLabelProvider"
				icon="icons/services.png"
				name="%NavigatorContent.services"
				priority="normal">
			<triggerPoints>
      <or>
         <adapt
               type="org.talend.core.repository.model.ProjectRepositoryNode">
         </adapt>
         <instanceof
               value="org.talend.core.repository.model.ProjectRepositoryNode">
         </instanceof>
         <and>
            <instanceof
                  value="org.talend.repository.model.RepositoryNode">
            </instanceof>
            <or>
               <test
                     forcePluginActivation="true"
                     property="org.talend.repository.node.isServicesNode">
               </test>
               <test
                     forcePluginActivation="true"
                     property="org.talend.repository.node.isServicesPortNode">
               </test>
               <test
                     forcePluginActivation="true"
                     property="org.talend.repository.node.isServicesOperationNode">
               </test>
            </or>
         </and>
      </or>
			</triggerPoints>
			<possibleChildren>
      <and>
         <instanceof
               value="org.talend.repository.model.RepositoryNode">
         </instanceof>
         <or>
            <test
                  forcePluginActivation="true"
                  property="org.talend.repository.node.isServicesNode">
            </test>
            <test
                  forcePluginActivation="true"
                  property="org.talend.repository.node.isServicesPortNode">
            </test>
            <test
                  forcePluginActivation="true"
                  property="org.talend.repository.node.isServicesOperationNode">
            </test>
         </or>
      </and>
			</possibleChildren>
			<actionProvider
         class="org.talend.repository.view.di.viewer.action.DIRepositoryNodeActionProvider"
         id="org.talend.repository.service.action.provider.id">
				<enablement>
					<and>
						<instanceof value="org.talend.repository.model.RepositoryNode" />
      <or>
         <test
               forcePluginActivation="true"
               property="org.talend.repository.node.isServicesNode">
         </test>
         <test
               forcePluginActivation="true"
               property="org.talend.repository.node.isServicesPortNode">
         </test>
         <test
               forcePluginActivation="true"
               property="org.talend.repository.node.isServicesOperationNode">
         </test></or>
						<not>
							<test
									forcePluginActivation="true"
									property="org.talend.repository.node.isDeleted">
							</test>
						</not>
					</and>
				</enablement>
			</actionProvider>
		</navigatorContent>
	</extension>

	<extension point="org.eclipse.core.expressions.propertyTesters">
		<propertyTester
				id="org.talend.repository.node.tester.services"
				class="org.talend.repository.services.ui.viewer.tester.ServicesNodeTester"
				namespace="org.talend.repository.node"
				properties="isServicesNode,isServicesPortNode,isServicesOperationNode"
				type="org.talend.repository.model.RepositoryNode">
		</propertyTester>
	</extension>

 <extension
       point="org.eclipse.ui.preferencePages">
    <page
          category="org.talend.core.prefs"
          class="org.talend.repository.services.ui.preferences.ESBPreferencePage"
          id="org.talend.repository.services.esb.preference"
          name="%preference.esb">
    </page>
    <page
          category="org.talend.repository.services.esb.preference"
          class="org.talend.repository.services.ui.preferences.EsbSoapServicePreferencePage"
          id="org.talend.repository.services.esb.soap.preference"
          name="%preference.esb.soapService">
    </page>
 </extension>
 <extension
       point="org.eclipse.emf.ecore.generated_package">
    <package
          class="org.talend.repository.services.model.services.ServicesPackage"
          genModel="model/Services.genmodel"
          uri="http://www.talend.org/Services">
    </package>
 </extension>
 <extension
       point="org.talend.core.repository.repoViewLinker">
    <linker
          class="org.talend.repository.services.ui.viewer.link.ServicesRepoViewLinker"
          name="Services"
          priority="normal">
    </linker>
 </extension>
 <extension
       point="org.talend.core.repository.repositorySeeker">
    <seeker
          class="org.talend.repository.services.ui.viewer.seeker.ServicesRepositorySeeker"
          name="Services">
    </seeker>
 </extension>
 <extension
       point="org.eclipse.ui.handlers">
    <handler
          class="org.talend.repository.services.utils.RefactorRenameHandler"
          commandId="org.eclipse.wst.wsdl.ui.refactor.rename.element">
       <activeWhen>
          <with
                variable="activeEditorId">
             <equals
                   value="org.talend.repository.services.utils.LocalWSDLEditor">
             </equals>
          </with>
       </activeWhen>
    </handler>
 </extension>
 <extension
       point="org.talend.core.runtime.demoProjects_provider">
    <demoProvider
          descHtml="resources/demoprojects/esb_demos.html"
          description="%demo.description"
          icon="resources/demoprojects/product-icon-esb-16px.gif"
          id="org.talend.demo.project.esb"
          name="ESB_DEMOS"
          order="20"
          projectUrl="resources/demoprojects/ESB_DEMOS.zip">
    </demoProvider>
 </extension>
 <extension
       point="org.talend.repository.items.importexport.handler">
    <importItemsProvider
          id="org.talend.repository.services.importProvider"
          name="Service importer"
          priority="NORMAL">
       <importItemsHandler
             class="org.talend.repository.services.ui.viewer.handler.ServiceImportHandler">
          <parameter
                name="type"
                value="SERVICES">
          </parameter>
       </importItemsHandler>
    </importItemsProvider>
 </extension>
 <extension
       point="org.talend.designer.core.connection_validator">
    <validator
          class="org.talend.repository.services.ui.validate.RESTRequestReconnectionValidation">
    </validator>
 </extension>
 <extension
       point="org.talend.designer.maven.ui.repositoryMavenSetting">
    <RepositorySupportType
          name="Supported Type">
       <RepositoryType
             type="SERVICES">
       </RepositoryType>
    </RepositorySupportType>
 </extension>
 <extension
       point="org.talend.core.runtime.buildExport_provider">
           <buildProvider
                 description="Build SOAP service"
                 id="org.talend.repository.services.export.BuildDataServiceProvider"
                 provider="org.talend.repository.services.export.BuildDataServiceProvider">
                 <buildType
                       label="Service"
                       name="Service"
                 order="10">
           </buildType>
           </buildProvider>
 </extension>

</plugin>
