<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.talend.core.components_provider">
		<ComponentsProvider
			id="org.talend.esb.tooling.component.provider.ESBComponentsProvider"
			class="org.talend.esb.tooling.component.provider.ESBComponentsProvider"
			folderName="tesb" />
	</extension>
	<extension point="org.talend.designer.codegen.additional_jetfile">
		<jetProvider
			id="org.talend.esb.tooling.component.provider.ESBJetFileProvider"
			class="org.talend.esb.tooling.component.provider.ESBJetFileProvider" />
	</extension>

	<extension point="org.talend.core.external_component">
		<ExternalComponent
			class="org.talend.designer.esb.webservice.WebServiceComponent" />
	</extension>
	<extension point="org.talend.core.runtime.service">
		<Service
			serviceId="IWebService"
			class="org.talend.designer.esb.webservice.ui.WebServiceHelper" />
	</extension>

	<extension point="org.talend.core.migrationTask">
		<projecttask
			id="org.talend.designer.esb.webservice.ConsumerFaultResponseMigrationTask"
			class="org.talend.designer.esb.webservice.migration.ConsumerFaultResponseMigrationTask"
			name="ConsumerFaultResponseMigrationTask"
			description="Add more fault response message migration task"
                           breaks="5.1.1"
                           version="5.1.2"
			beforeLogon="false" />
	</extension>

	<!-- TESB-3602 Remove ESB page
	<extension point="org.eclipse.ui.preferencePages">
		<page
			category="org.talend.core.prefs"
			class="org.talend.designer.esb.webservice.ui.EsbPreferencePage"
			id="org.talend.designer.esb"
			name="%preferencesPage.main">
		</page>
	</extension>
	-->
</plugin>
